[2017-07-11 21:50] rawlingsj opened #3 "building docs fail"
following the asciidoctor instructions https://github.com/fabric8io/fabric8-online-docs#using-asciidoctor I get these errors:

[code]

[2017-07-12 07:35] rkratky commented on #3
Apologies, @rawlingsj, we changed the format slightly, which requires an additional parameter to be set for AsciiDoctor: ` --doctype=book`. I fixed the build instructions in the readme. The whole command should look like this:

`asciidoctor --doctype=book --section-numbers --attribute=toc master.adoc`

[2017-07-12 07:35] #3 closed

[2017-07-12 08:44] rawlingsj commented on #3
great thanks @rkratky

[2017-08-09 08:38] Preeticp opened #10 "Organizing Content for OSIO docs"
I am transcribing the mail discussion here to keep track of these discussions in one place.
Summary of Meeting:

- Misha to flesh out the E2E experience doc, Preeti to help provide content for the Analytics portion.
- Preeti to work on the Troubleshooting Doc, test and update steps.
- Both of us would be testing the steps in the E2E and adding issues to the Trouble shooting. This would also help u

[2017-08-09 08:40] Preeticp commented on #10
Types of topics within the user guide:

1. ​E2E doc which would give the user an intro and overall pic of OSIO. This would be useful for first time users and for those who want to know the overall picture​ before they start using the service​. I can visualize a guide kind of format for this.​ ​E2E w​ou​ld definitely link up the concepts, tasks and user stories.​ ​
​​2. ​Feature based, which would

[2017-08-09 08:40] Preeticp commented on #10
Misha: A doc for our use cases.
My intention was a Gdoc to track our user stories for various components and inter-component user stories and even inter-product user stories. I was thinking a table of user stories for each component where we all dump all our user stories for all components and then we can also string those together (think ubermodules being strung together to create larger user sto

[2017-08-09 08:48] Preeticp commented on #10
Imho, lets keep it in the Git Hub, to have it all in one place maybe what we could do is have separate folders under Modules: like Concepts, User Stories/Tasks and E2E, which I suppose would include Troubleshooting too. Concepts and Component level user stories could also be under folders named after respective components.
The content folder could continue to house the index topics or the table of

[2017-08-09 08:54] Preeticp opened #11 "Document End to End Scenario for OSIO"
References:
Burr's Hello World Videos (ref: https://docs.google.com/document/d/1OszzoSyv2gqv8mlSg1yHeBxMAk9v4rGCKg_FkfN_d7w/edit#heading=h.a5lc9uymo7qx)
Steps:
https://docs.google.com/spreadsheets/d/1B2ckTXCsKc8sD_S2p7OP7d1fvcMI8_6tjTosT3ihSMM/edit#gid=547154663

[2017-08-09 09:02] Preeticp opened #12 "Document Troubleshooting Tips"
References:
Existing FAQ: https://github.com/openshiftio/openshift.io/wiki/FAQ

Burr's Hello World Videos (ref: https://docs.google.com/document/d/1OszzoSyv2gqv8mlSg1yHeBxMAk9v4rGCKg_FkfN_d7w/edit#heading=h.a5lc9uymo7qx)

Steps:
https://docs.google.com/spreadsheets/d/1B2ckTXCsKc8sD_S2p7OP7d1fvcMI8_6tjTosT3ihSMM/edit#gid=547154663

https://github.com/fabric8io/fabric8-online-docs/issues/11

[2017-08-09 13:26] rkratky commented on #11
Main workshop document: https://docs.google.com/document/d/1KsV8oHRe7DYCVCMfVrB2yd3hU4iBi11YI5MyuXoozQw/ (Burr: "it's the workshop bible, and everyone needs to read it").

[2017-08-09 14:32] #10 closed

[2017-08-18 11:55] Preeticp opened #13 "Tracking User Stories for OSIO"
Tracker for user stories, component and cross component : https://docs.google.com/spreadsheets/d/1Sk22jZgokdXEu4GgNDKFw2Id75lTBCvJ4u5FWxjNVfQ/edit#gid=0

[2017-09-12 09:39] aditya-konarde opened #17 "Incorrect Image pull URL in fabric8-online-docs.app.yaml"
In [fabric8-online-docs.app.yaml Line 101](https://github.com/fabric8io/fabric8-online-docs/blob/master/openshift/fabric8-online-docs.app.yaml#L101) the image pull url is incorrect. This results in failed pods with ImagePullBackOff.

[2017-09-12 09:39] aditya-konarde commented on #17
Working on this.

[2017-09-13 07:00] aditya-konarde commented on #17
Patch #18 is now merged to master, closing this issue.

[2017-09-13 07:00] #17 closed

[2017-09-14 09:48] rkratky opened #19 "Adding sectlinks and sectanchors"
Our common attributes should set the `sectlinks` and `sectanchors` options to simplify deeplinking.

See http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#section-titles for reference.

[2017-09-21 06:06] Preeticp opened #20 "Document Scenario driven planning"

[2017-09-21 07:12] Preeticp opened #22 "Modify all 'working with work items' topics to reflect latest UX changes"
- [x] Creating WI
- [x] Modifying WI
- [x] Working with/using Planner
- [x] About WI/Planner

[2017-09-21 07:12] Preeticp opened #23 "Modify all 'working with Iterations' topics to reflect latest UX changes"

[2017-09-21 07:15] Preeticp opened #24 "Document 'Analytics Stack Report'"
Draft ready, adding final touches, PR coming soon.

[2017-10-06 00:37] mishaone opened #28 "Expand "About Spaces" module in UG"
Expand on the spaces module. Preeti's comment for context:

[2017-10-06 00:37] mishaone commented on #28
@Preeticp tagging you for visibility.

[2017-10-08 23:59] mishaone opened #29 "Update all UG modules based on current workflow."
Review the UG and update all the content modules.

[2017-10-09 00:01] mishaone opened #30 "Update all E2E doc modules"
Review and update all modules in the E2E document.

[2017-10-11 12:44] rkratky opened #31 "Adopt RHD styling for OSIO docs"
Use styles developed for RHD to render OSIO docs.

https://github.com/fabric8-launch/appdev-documentation/tree/master/docs/topics/styles

[2017-10-11 15:17] rkratky opened #32 "Get rid of downstream-specific files"
Files such as docinfo.xml are required by downstream publication toolchain. They should be removed to avoid confusion.

[2017-10-12 08:45] Preeticp commented on #20
Fixed with PR #21

[2017-10-12 08:45] #20 closed

[2017-10-12 12:32] rkratky opened #34 "Update README"
The README file contains obsolete instructions:

- get rid of ccutil mentions
- fix mark-up in asciidoctor instructions
- get rid of references to RHDEVDOCS JIRA

 Also, the process for getting docs from preview to prod needs to be documented:

(as per @Preeticp's mail)

1. Fork and clone the openshiftio/saas-openshiftio directory.
2. Replace the 'hash:' value with your commit ID in the f8-docs.ya

[2017-10-13 07:31] aditya-konarde commented on #34
Won't be required once [this PR](https://github.com/openshiftio/saas-openshiftio/pull/342) is merged.

[2017-10-13 08:39] rkratky opened #35 "Validate new CSS"
@mishaone, @Preeticp, at your convenience, please, check the UG (at https://docs.prod-preview.openshift.io/) for any formatting or rendering problems that may have been caused by the application of the new styling. For reference, this is the LOSIO docs from which the styling was taken: https://appdev.openshift.io/docs/minishift-installation.html

Two known issues I'm working on:

- logos in the he

[2017-10-13 13:54] Preeticp commented on #35
Hi Robert,
On first look, here are a few of my observations:
**UI fields**
Losio: Italics.
We: We have btn[field] for buttons, bold for other UI fileds and back ticks (9.2) too in some places, which are now rendered in red, with the new css.
Do we want to distinguish the fields into buttons and others? A simple bold/italics for all UI elements irrespective of it being a button, tab, subtab, seems

[2017-10-13 15:30] rkratky commented on #31
Done by #33

[2017-10-13 15:30] #31 closed

[2017-10-13 16:20] rkratky commented on #19
Fixed by #36

[2017-10-13 16:20] #19 closed

[2017-10-15 17:55] rkratky opened #37 "Enable building of all docs, add landing page"
- Need to build both "User Guide" and "E2E Guide".
- Landing page needs to be added with links to ^ docs.

[2017-10-16 05:23] mishaone commented on #35
+1 for differentiating between UI elements. btn:[] for clickable buttons, and different appearances for labels (``) vs field names (**). I would opt on the side of variety in this case because different styles help break the monotony of what is mostly a wall of text and set apart what specific things to look for in a UI and what they are.

[2017-10-16 06:27] rkratky commented on #34
@aditya-konarde, I see https://github.com/openshiftio/saas-openshiftio/pull/342 has been reverted. Does that mean we should follow the above-mentioned process?

[2017-10-16 06:33] aditya-konarde commented on #34
@rkratky yes, there are some limitations around using 'master' as the tag, so we should follow the above mentioned process for now. Will send out the details in an email, and we can coordinate to get someone from the docs team added to saas-openshiftio.

[2017-10-16 06:38] rkratky commented on #35
Thanks for the comments. I will talk about the colors and other stuff with the RHOAR people, so that we coordinate the changes, and the styles don't diverge.

As for styling of particular elements, we need to start looking at https://redhat-documentation.github.io/asciidoc-markup-conventions/ for guidance to unify the look across RH docs. Since the style originated with OSIO UX people, I'm going t

[2017-10-18 13:54] #37 closed

[2017-10-18 13:56] rkratky opened #39 "Generate list of docs for landing page automatically"
Even though we only have two distinct docs at this point, the list should be generated automatically and then inserted into the landing page.

[2017-10-18 14:05] rkratky opened #40 "Prepare a nicer landing page"
The landing page (https://docs.prod-preview.openshift.io/) is butt-ugly. It should be improved to not be an embarrassment.

@joshuawilson, could you please advise who to approach for help with this?

[2017-10-18 14:10] joshuawilson commented on #40
@rkratky you should talk to @catrobson. Her team does the design work.

[2017-10-18 14:15] rkratky commented on #40
Thanks @joshuawilson. Heh, that's what I wanted to do, but I couldn't find Catherine's nick on GH.

@catrobson, is this something you could help with? Would you need anything from us?

[2017-10-18 14:30] catrobson commented on #40
@rkratky Sure, we can help with this.  Can you note any requirements you have, and thoughts on what might live here in the longer term so we can design it to handle today as well as any known future needs?

[2017-10-18 14:47] rkratky commented on #40
Thanks @catrobson. For now, we just need:

- a decent overall look, pbbly based on os.io
- some clear heading (it's there already but could look better)
- a way to link to the two docs (again, already there)

What we want to include that's not already there:

- link to OSIO itself
- link to this repo and potentially other relevant repos
- link to the RH Developer Program

Considerations for the fu

[2017-10-18 14:52] rkratky opened #41 "Split CSS from docs files"
Currently, docs HTML files carry all of their CSS, which is ugly and sucks bandwidth. Docs should be built with the `:linkcss:` attribute, and the CSS file(s) should be deployed along with the rest of the docs.

[2017-10-19 15:57] rkratky opened #42 "Fix validating issue"
[code]

[2017-10-19 16:01] #42 closed

[2017-10-30 15:56] rkratky opened #45 "Fix path in docs headers"
The header logo points to `/docs/index.html`, but it should go to `/index.html`.

[2017-10-30 15:57] rkratky commented on #45
Fixed by #44.

[2017-10-30 15:57] #45 closed

[2017-10-30 20:27] mishaone commented on #40
Adding a few thoughts on the appearance:
The actual rendering of docs looks good to me, but I wonder if we can do something more useful with the white space to the right that's currently not in use. Perhaps something like the OS docs, where they have a navigation menu to the left and the content to the right? https://docs.openshift.com/online/cli_reference/get_started_cli.html

[2017-10-31 10:42] rkratky opened #46 "TOC to the side of the doc?"
Test generating the doc HTML with the TOC to the side. See @mishaone's comment at https://github.com/fabric8io/fabric8-online-docs/issues/40#issuecomment-340573785 for more.

[2017-10-31 10:43] rkratky commented on #40
@mishaone, we can most likely generate the TOC to the side, but this issue is only about the landing page. I created issue #46 to track the TOC thing.

[2017-11-01 01:50] mishaone commented on #29
Created PR: https://github.com/fabric8io/fabric8-online-docs/pull/47
Not building a preview at the moment. Asked Robert to help find problem.

[2017-11-01 03:57] mishaone commented on #11
Finished the first version of this a while ago so I'm closing this off. Doc is currently available at internal preview link.

[2017-11-01 03:57] #11 closed

[2017-11-01 03:58] mishaone opened #48 "Identify enhancements for E2E doc"
Compare our E2E doc with Todd's to identify things we should cover that are in the latter.

[2017-11-01 05:42] mishaone commented on #48
Notes:

Introduction:
* We've already covered all of this. The only new thing is the opening welcome note, which is a good idea to explain the beta status, etc.

Hello world:
* They moved the Che and Jenkins check to this instead of the intro, which is odd because it's a prerequisite step before you start working with OSIO.
* They refer to the OS console as "Expert Mode". Later, viewing logs is al

[2017-11-02 04:56] mishaone commented on #29
Robert has fixed the problem and merged it. Now checking preview to confirm this is the latest build and requesting Peer Review.

[2017-11-06 05:16] mishaone commented on #29
First of review JIRAs complete (waiting for ACK from reviewer).
Sent reminder about the other two.

[2017-11-06 05:32] mishaone commented on #48
__Analyze the Application__
* This is entirely new content (and recently added to the demo as well).
* Includes: Che dependency analyzer, Stack reports, some general stuff that is outside the flow of the demo (such as moving Work Items using drag and drop, viewing the files in GitHub after creating a project). We have incorporated these within the workflow of the document.

__Advanced Che__
* This

[2017-11-06 05:33] mishaone commented on #48
Conclusion: Since we followed the same basic workflow for Burr's demo, the overview is very similar. We have tried to add in the meandering parts of the demo into the same flow rather than a section separately. Our doc needs to be updated and the Analyze part needs to be added, but otherwise fairly similar.

[2017-11-06 05:35] mishaone commented on #30
Comparison with Todd's doc here: https://github.com/fabric8io/fabric8-online-docs/issues/48

__Tasks:__
* Update all modules and flesh out as needed based on additions to functionality.
* Add analyzer information and instructions.

[2017-11-08 07:47] mishaone commented on #29
One PR JIRA done, two WIP:
* https://issues.jboss.org/browse/RHDEVDOCS-584
* https://issues.jboss.org/browse/RHDEVDOCS-585
* https://issues.jboss.org/browse/RHDEVDOCS-586

[2017-11-10 19:45] rkratky opened #58 "Add builds in PDF"
Build and deploy dopcs in PDF.

[2017-11-10 19:51] #58 closed

[2017-11-13 08:44] rkratky opened #61 "Add info on bug reporting and team/author details"
Both docs (E2E, UG) need some meta info:

- authors + sources
- where to file bugs against the docs
- how to contribute (i.e. link to repo's README)

[2017-11-13 11:23] rkratky opened #62 "Fix (adapt) PR build pipeline"
@rawlingsj, could you please take a look at the Jenkinsfile and *fabric8-online-docs-app* you prepared for this repo? We had to change the repo's structure to unify it with RHOAR/LOSIO docs, but that broke the pipeline you set up.

I'd be happy to provide additional information or try to fix it myself if you point me in the right direction.

[2017-11-15 12:35] rkratky opened #63 "Generate JSON with [tool|info]tips for Planner"
Infotips content based on OSIO User Guide Glossary needs to be converted to Markdown and then JSON with the following structure:

[code]
IDs to be generated as UUID.

There will be a separate file for tooltips and infotips, which will be served as:

https://docs.openshift.io/json/infotips.json
https://docs.openshift.io/json/tooltips.json

[2017-11-16 16:57] #30 closed

[2017-11-16 17:02] rkratky opened #64 "Fix build/deploy scripts to run rootless on local"
Currently, building on local requires root privileges. This should be fixed.

[code]

[2017-11-16 20:04] rkratky opened #65 "Update build script to get rid of per-book build scripts"
Currently, each guide requires its own build script. This is cumbersome and unnecessary. The main build script should be modified to be able to automatically build all guides by itself.

[2017-11-16 20:06] rkratky opened #66 "Add automatic timestamp to landing page"
Until a new landing page is ready (#40), the timestamp in the footer should be at least updated automatically.

[2017-11-16 20:08] #64 closed

[2017-11-16 20:08] rkratky commented on #65
Fixed by #67

[2017-11-16 20:08] #65 closed

[2017-11-16 20:08] rkratky commented on #66
Fixed by #67

[2017-11-16 20:08] #66 closed

[2017-11-17 16:22] #34 closed

[2017-11-17 17:40] rkratky commented on #32
Fixed some time ago.

[2017-11-17 17:40] #32 closed

[2017-11-18 16:20] rkratky opened #70 "Describe the "why" of OSIO"
@qodfathr: _Furthermore, I feel we need more documentation which explains the "why's" of OSIO; today there is a lot of "how's", but I feel that important, high level messages are being lost. Something like a "day in the life" story could possibly help._

Looking for more input.

[2017-11-18 16:25] rkratky opened #71 "Update outdated terminology"
Some terms have evolved and need to be updated.

_the user guide and on boarding documentation were based, in part, upon other non-canonical (e.g. the first several revisions of the workshop document) or outdated sources (e.g. the glossary) and, as such, has issues related to the naming of things, the messaging behind certain capabilities, etc. (e. g. OSIO has neither Projects nor Collaboration Sp

[2017-11-21 10:08] mishaone commented on #48
Re-opening for details about divergence with Todd's doc.

[2017-11-21 10:11] #48 closed

[2017-11-21 10:29] mishaone commented on #61
I've added links to where to file bugs against the docs to the E2E doc (Introductory chapter).

[2017-11-22 06:48] mishaone opened #72 "Fix lowercase i rendering so it doesn't look like a lowercase L"
I can't see the previews at the moment, but I think they also have this issue.

Currently, for everything that is not marked up, the docs font renders in a way that makes every lowercase i look like a lowercase L. See screenshot for examples of this:

![inotl](https://user-images.githubusercontent.com/926572/33113605-ddd3a24e-cfa4-11e7-92ae-27483d3c9e32.png)

Expected behavior is that the lowercas

[2017-11-22 06:49] mishaone commented on #72
Hi @rkratky - not sure if this is in the preview and if it is, if we are the ones who can fix this, but have assigned to you and myself.

[2017-11-22 09:11] rkratky commented on #72
@mishaone, do you mean the font that is being used should be changed?

[2017-11-22 09:31] rkratky opened #73 ""TODO with modules"?"
What does this sentence at the end of the e2e guide mean? Can it be removed (or commented out)?

[2017-11-22 09:37] mishaone commented on #73
Hi Robert,

That's placeholder text because we need to reuse many of the modules from the earlier sections after making them a bit more generic for use in multiple areas (this is now mostly done).

[2017-11-22 09:46] rkratky commented on #73
So, can it be removed?

[2017-11-23 05:28] mishaone commented on #72
@rkratky, I can see the preview doc today and it looks like it doesn't have the same issue. I guess it's just local, which ideally would be as similar as possible to the final rendering, but we can work around this. It looks like admonitions also render oddly in my local asciidoctor build, but that issue is also not in the preview so all good. Closing this as notabug.

[2017-11-23 05:28] #72 closed

[2017-11-23 17:12] rkratky opened #76 "Fix problem with locally updated index.html"
The timestamp in index.html only needs to be updated when built in OpenShift, not on local. We don't want to deal with a modified index.html file that would either need to be committed (useless) or resetted (overhead).

[2017-11-28 09:44] rkratky opened #79 "Automatically serve docs when building on local"
Run the deploy container when building docs on local.

[2017-11-28 10:08] rkratky opened #80 "Clean up docker commands in cico script"
The docker commands in `cico_build_deploy.sh` need a clean up.

[2017-11-28 10:36] #76 closed

[2017-11-28 12:01] #79 closed

[2017-11-28 13:50] rkratky opened #83 "Get rid of e2e directory"
The `e2e` directory under `modules` was only introduced because we thought the e2e doc will be phased out. That's not the case, so we want all our modules to live in the same directory.

@mishaone, @Preeticp, take note -- this will be another big restructuring. However, it will be very straightforward. We will just move all modules from `modules/e2e/` to  `modules/`.

[2017-11-28 13:57] mishaone commented on #83
I'd recommend discussing this before making the decision. To me, the modules for the e2e are clunkier and catering more to what Todd wants rather than appropriately modular (reusable in various places because they are non-specific enough). I also anticipate making many more changes to these modules based on Todd's feedback for his preferred style of Getting Started doc so I don't think we would re

[2017-11-28 15:30] rkratky commented on #83
True, but that's fixable. Having them in the 'reusable' space with the other modules would IMO help with this.

Reuse is not the only motivation, but it would be good to have the opportunity.

I was actually planning to do that, so it's good to hear it's on your radar. Please, file an issue for it, so that it's tracked.

Possibly, but it would also force us to fix the problems.

Overall, I believe

[2017-11-28 15:41] rkratky opened #86 "Update mark-up based on RH-wide conventions"
Our mark-up should observe conventions set forth in https://redhat-documentation.github.io/asciidoc-markup-conventions

Some of these changes can be automated, the rest will need to happen manually.

[2017-11-28 15:43] rkratky opened #87 "Change ID anchors to follow Mod Docs recommendations"
ID anchors should be formed and formatted based on recommendations in https://redhat-documentation.github.io/modular-docs/#anchor-and-file-names

The syntax part can be converted automatically. The content possibly too, but first we need to fix the headings.

[2017-11-28 16:08] rkratky commented on #83
Agree.

So you're good with the change?

[2017-11-28 16:11] rkratky commented on #62
@kbsingh, in light of today's announcement, could you please suggest who to turn to with this issue?

[2017-11-28 16:16] rkratky opened #88 "Fix broken local build"
Local builds using `scripts/build_guides.sh` that follow local builds using the Docker method throw the following errors:

[code]

[2017-11-28 18:35] rkratky opened #89 "Enable icon support"
We need support for icons from PatternFly and Font Awesome for showing UI widgets and elements.

As a second step, currently used mini screenshots of the same widgets and elements need to be replaced by the scalable icons.

[2017-11-28 22:28] mishaone opened #90 "Update file names in the e2e doc"
File names should reflect the module or assembly title to make it easy to find in the repo for anyone making changes.

Currently I'm reorganizing and changing (and removing) a lot of files so holding off on this till I'm done with that and can focus on just this task (and ensure nothing is left out) due to the file name change plus that it's the final proposed titles for the modules, since this is

[2017-11-28 23:11] mishaone commented on #83
OK, created https://github.com/fabric8io/fabric8-online-docs/issues/90 to track the fixing of file names. Holding off because I'm moving around and changing a lot of content and titles at the moment. I'm OK to have the two sets of modules stored at the same place generally.

[2017-11-29 05:59] Preeticp commented on #83
Absolutely, +1. I have a feeling this would help us come up with apt assemblies when required. We seem to be moving in the right direction, not only on this, but also in streamlining the Styles, Headings etc. as per one standard.

[2017-11-30 16:54] rkratky opened #92 "Unify action headings on gerunds"
To provide a consistent feel, action headings should all use gerund forms. E.g. consider:

7.13. Changing the quickstart code
7.14. Commit and push changes to GitHub
7.15. Review and publish your changes
7.16. Closing a work item

The middle two headings should be converted to:

7.14. Committing and pushing changes to GitHub
7.15. Reviewing and publishing your changes

[2017-11-30 18:33] rkratky opened #94 "Stop building PDFs on local"
When building guides on local by using the bare `scripts/build_guides.sh` script, don't build PDFs because it takes too much time.

No change when building in the container.

[2017-11-30 22:14] mishaone commented on #90
done here: https://github.com/fabric8io/fabric8-online-docs/pull/91

[2017-11-30 22:14] #90 closed

[2017-12-01 13:38] Preeticp commented on #63
Robert this will be part of the G train, so we will need to up the priority on this one.

[2017-12-01 13:42] Preeticp opened #96 "Add glossary input for key concepts in Planner"
This would be channeled into Infotips for the UX as part of the contextual help.

[2017-12-01 13:44] Preeticp opened #97 "Create content for Infotips in addition to those covered in Glossary for Planner"

[2017-12-01 13:45] rkratky opened #98 "Incognito no longer required"
......
4. Prerequisites

Browser Requirements:

* Currently, only Google Chrome can be used with OpenShift.io. Additional browsers will be added here as they are tested.

* Ensure that you run OpenShift.io in Chrome’s Incognito Mode or as a Guest user. This is required because troubleshooting or other functions require clearing your browser’s history.
.....

Incognito mode is no longer a prerequis

[2017-12-01 15:54] #80 closed

[2017-12-01 15:55] rkratky commented on #88
fixed by #88

[2017-12-01 15:55] #88 closed

[2017-12-01 15:56] rkratky commented on #94
fixed by #88

[2017-12-01 15:56] #94 closed

[2017-12-01 16:41] rkratky opened #100 "Link to UG from "2. About this document""
SSIA

[2017-12-01 16:42] rkratky opened #101 "Link to respective sections from "14. Next steps""
The overview list in "14. Next steps" could use links to appropriate sections (either in the UG or the E2E doc).

[2017-12-01 16:44] rkratky commented on #73
fixed by #95

[2017-12-01 16:44] #73 closed

[2017-12-01 16:49] rkratky commented on #100
[code]
Couldn't resist...

[2017-12-01 17:00] Preeticp commented on #97
Related to: https://github.com/fabric8io/fabric8-online-docs/issues/63

[2017-12-01 17:02] Preeticp commented on #96
Related to: https://github.com/fabric8io/fabric8-online-docs/issues/63

[2017-12-01 17:02] rkratky opened #102 "Update add_guide.sh script"
`add_guide.sh` doesn't reflect recent changes in the build scripts and needs to be updated to make sense.

[2017-12-01 17:20] #83 closed

[2017-12-02 11:31] rkratky opened #104 "Clean up remnants of old build system"
Get rid of obsolete files, such as:

- `docs/topics/templates/build_guide.sh`
- that's it, pbbly

[2017-12-02 11:34] rkratky opened #105 "Convert landing page into AsciiDoc"
Let's make the index page a regular adoc file. Separate out CSS and set up automated building of the page with guides.

Depends on #39.

[2017-12-02 11:38] rkratky opened #106 "Get rid of tracking code"
`docs/topics/styles/docinfo-footer.html` contains some obscure tracking code. We don't need it now. Get rid of it.

Incidentally, this will eliminate the asciidoctor build-time warning about a missing attribute (`segmenttrackertoken`).

[2017-12-02 11:41] #104 closed

[2017-12-02 11:47] #106 closed

[2017-12-02 11:50] rkratky commented on #106
@mishaone, @Preeticp, FYI: building with asciidoctor (and thus also with `scripts/build_guides.sh`) will no longer throw the warnings about a missing attribute:
[code]

[2017-12-02 11:53] #102 closed

[2017-12-02 12:15] #87 closed

[2017-12-02 12:53] rkratky commented on #87
@mishaone, @Preeticp, take note. From now on, please, use the following syntax for IDs:
[code]
Thanks.

[2017-12-04 01:15] mishaone commented on #98
Updated and merged: https://github.com/fabric8io/fabric8-online-docs/pull/111

[2017-12-04 01:15] #98 closed

[2017-12-04 01:58] mishaone commented on #101
Added non-inline links and merged: https://github.com/fabric8io/fabric8-online-docs/pull/112

I wanted to add inline links but that makes the phrasing very awkward so that the phrase and the link it points to need to be sufficiently clear. This is a bit clunkier, but more clear, I think. Leaving this open for @rkratky to confirm this is sufficient to close the issue.

[2017-12-04 06:10] mishaone commented on #100
Done and asked Robert to review and merge: https://github.com/fabric8io/fabric8-online-docs/pull/113

[2017-12-04 07:53] rkratky commented on #101
@mishaone, looks good, but I added one comment to the PR. Closing this.

[2017-12-04 07:53] #101 closed

[2017-12-04 08:11] rkratky commented on #101
@mishaone, looks good, but I added one comment to the PR. Closing this.

[2017-12-04 08:29] rkratky opened #115 "Document Space name limitations"
Monitor https://github.com/openshiftio/openshift.io/issues/676 and document its results when it gets resolved.

[2017-12-05 18:07] rkratky opened #116 "Adopt the Integration Cookbook"
Convert, revise, and eventually publish the Integration Cookbook. See https://github.com/openshiftio/openshift.io/issues/1324

Currently available from https://docs.google.com/document/d/1k5hbknuebBZVVMkWpKZKAP6LoHWXD2bbvrn-4P4wmjg/

[2017-12-06 00:19] #100 closed

[2017-12-07 03:26] mishaone commented on #29
Review done and feedback implemented. Closing this issue.

[2017-12-07 03:26] #29 closed

[2017-12-07 03:47] mishaone opened #117 "review updated e2e doc"
Creating a task to track this review.

[2017-12-07 03:52] mishaone opened #118 "Propose better structure for e2e doc"
Created this issue to propose improvements to the ToC for the E2E doc. This seems like the sort of thing we can discuss and agree upon beforehand so that it's easy to implement and test in one go.

[2017-12-07 05:04] Preeticp commented on #116
Subtasks:
- [ ] Review content post latest changes by Devs
- [ ] Convert to Asciidoc using Max's script
- [ ] Modularize
- [ ] Get a tech and peer review.

[2017-12-07 07:03] Preeticp commented on #24
Fixed with #52

[2017-12-07 07:03] #24 closed

[2017-12-07 07:29] mishaone commented on #118
*Current ToC:*

Part 1: Before you start

Ch 1. Introduction
   - Early access program
   - Providing feedback
   - Resetting your environment

Ch 2. About this document
   - Getting support
   - Product questions
   - Providing product feedback
   - Providing documentation feedback

Ch 4. Prerequisites

Ch 5. Connecting OpenShift.io to OpenShift Online and GitHub

Ch 6. Confirm Che and Jenkins st

[2017-12-07 13:49] maxandersen commented on #62
@chmouel can you take a look here ?

[2017-12-07 13:51] rawlingsj commented on #62
FWIW my understanding was that this project would be built by ci centos and not fabric8 pipelines anymore.  The discussion is here https://github.com/fabric8io/fabric8-online-docs/pull/16

[2017-12-07 21:28] maxandersen commented on #62
@rkratky the PR builds seem to still be active on https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8io-auto-rel%2Ffabric8-online-docs/detail/PR-119/1/pipeline and the error there indicates what is needed is to update this line https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8io-auto-rel%2Ffabric8-online-docs/detail/PR-119/1/pipeline to invoke `scripts/build_g

[2017-12-07 21:33] maxandersen commented on #62
I made a PR attempt at https://github.com/fabric8io/fabric8-online-docs/pull/120 but I kinda expect it to fail as random PR's shouldn't allow change to jenkinsfile.

@rawlingsj whats the "policy"/rules jenkins is setup for around jenkinsfile updates ? who can change them in PR's ?

[2017-12-07 22:11] maxandersen commented on #62
@rkratky it is more than just the build scripts that changed, also the dockerfile was altered so it will take some more time to adjust it if at make sense at all.

I figured out I at least can change it, hopefully because i'm member of the org - but got some questio around that on #120 if you could be so kind to look there.

[2017-12-08 02:32] Preeticp opened #121 "Streamline and document workflow for Adding and Importing codebases."
Derivative of #114

[2017-12-08 02:36] Preeticp commented on #86
As per #114 we felt references to GUI elements should be in small case throughout the doc, unless in places where it was part of actionable instructions.

[2017-12-08 08:44] rkratky commented on #62
@maxandersen, right. I did have a look at that, but since I don't really understand the build logic (and the role of https://github.com/fabric8-apps/fabric8-online-docs-app), I thought a mere change of the command line would not help.

FWIW, the Dockerfiles are not used at all if only `scripts/build_guides.sh` is run. The containers are only built when the `cico_build_deploy.sh` script is executed

[2017-12-08 11:02] rkratky opened #124 "Final decision wrt caps"
This debate petered out. Let's decide on and start following some rules: Based on previous discussions, I propose:

- capitalize only when featured as a label of a GUI element: "click Space to open a new space"
- capitalize only first word: "click Work item to open a new work item"
- file issue against app UI where inconsistent with the above

Thoughts?

[2017-12-08 11:57] mishaone commented on #124
I'd propose that for GUI labels we go with whatever is actually on the GUI. If it's wrong (as in the case of "organisation" for example in the Quickstart menu), we should document it as it is and log an issue to fix it, then fix it in the docs to reflect the change in GUI. My reasoning for this that it should be exactly as the user will see it in the product, even if wrong or inconsistent, to be u

[2017-12-08 12:05] Preeticp commented on #71
Review for use of Projects in lieu of Application.

[2017-12-08 12:34] rkratky commented on #124
+1 That's what I meant but formulated lazily.

+1 The conventions call for bold, i.e. `*Work item*`.

I vote for following the same rules as with the rest. I.e. `click the *Iteration* menu item to create an iteration` or `click btn:[Iteration] to create an iteration` (depending on the UI).

[2017-12-09 16:13] #41 closed

[2017-12-09 16:13] #46 closed

[2017-12-09 16:13] #105 closed

[2017-12-10 09:06] Preeticp commented on #124
I am glad we are coming to some agreement on this.

+1, I am for this.

So based on the above discussion, this:

would be "Click **Work item**/**Work Item**(depending on the UI) to open a new work item".

[2017-12-10 11:27] rkratky commented on #124
Yes, but if the UI shows "Work Item", an issue should be filed against it.

[2017-12-11 16:35] rkratky commented on #40
@catrobson, could you please provide a status update on this?

Also, I had a chat with @rhoads-zach who's responsible for RHOAR/LOSIO docs (see https://appdev.openshift.io/docs/), and we discussed the possibility of having a unified landing page for all os.io-related docs (pending acks from interested parties). Could you please, look into that as an option when designing the docs.os.io page?

I be

[2017-12-12 03:29] mishaone commented on #124
Sounds like we're in agreement on this. Shall we close this issue?

[2017-12-12 03:31] mishaone commented on #92
@Preeticp are you already doing this in your PRs? If you are, please assign this to yourself. If not, I'll take it and do it when you're done.

[2017-12-12 04:44] mishaone commented on #92
I'm working on this now. Fixing up IDs as well while I'm at it.

[2017-12-12 05:46] Preeticp commented on #92
Ok thanks, I hope we do not have major merge conflicts.

[2017-12-12 05:48] mishaone commented on #92
Hopefully not, @Preeticp. I've just updated module IDs, which should be fine, but I also updated some of the module file names, which might be slightly problematic? Hopefully that can just be automatically resolved.

[2017-12-12 10:21] rkratky commented on #124
Cool. Thanks Misha, Preeti.

[2017-12-12 10:21] #124 closed

[2017-12-12 16:49] rkratky commented on #71
@Preeticp, did you mean Application in lieu of Project?

[2017-12-12 17:13] #71 closed

[2017-12-13 10:03] #39 closed

[2017-12-13 11:21] rkratky commented on #62
Fixed by #126.

[2017-12-13 11:21] #62 closed

[2017-12-13 19:19] Preeticp commented on #118
+1 makes sense

[2017-12-14 00:38] mishaone commented on #92
Created PR https://github.com/fabric8io/fabric8-online-docs/pull/132 which is now merged.

[2017-12-14 00:38] #92 closed

[2017-12-14 14:49] rkratky commented on #86
Partially (GUI items styling) fixed by #145. @Preeticp, @mishaone, please, take note -- we should observe this styling from now on. Btw, I may have accidentally changed even elements that should not have been changed. If you come up on such, please, report it.

What remains is mostly links (use `link:`) -- I'll do that using sed.

[2017-12-16 15:23] #86 closed

[2017-12-16 15:28] rkratky commented on #35
Served its purpose. Closing.

[2017-12-16 15:28] #35 closed

[2017-12-18 10:48] Preeticp opened #148 "Enhancing Validate script to identify location of the errors"
The Validate script is awesome for finding out errors. It could be even more useful, if it could identify the modules in which the errors are seen, reducing the time spent in searching for the error, especially when you tackle multiple modules in a PR.
For example: Processing e2e_workshop        failed to build

asciidoctor: WARNING: invalid reference: reducing_project_memory_usage
asciidoctor: WA

[2017-12-18 13:57] muruGanesan commented on #40
Hi @rkratky,
Can you please see the below issue?
https://github.com/fabric8-ui/fabric8-ux/issues/703#issuecomment-352417951

[2017-12-18 14:24] rkratky commented on #148
Error/warning messages reference: https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/_includes/messages.adoc

[2017-12-18 15:54] #117 closed

[2017-12-20 01:03] mishaone commented on #118
Where would you suggest putting Resetting your environment? I put it up front since this is, realistically speaking, something users will need to know about generally (i.e. if you're in stuck and can't fix the problem, resetting the environment is the last resort).

[2017-12-20 09:35] rkratky commented on #118
My thinking was to leave out of the intro chapter completely since it has its own chapter in "Cleaning up your OpenShift Online Account". If you think we need to have it up front, then perhaps at the end of "Getting support"?

[2018-01-03 10:49] rkratky opened #150 "Track changes in /getting-started page"
The UX team is planning to remove the `/getting-started` page. The Getting Started Guide (and possibly the User, Guide, too) need to be checked and potentially updated to reflect this change when it happens.

[2018-01-08 01:30] mishaone commented on #150
I'll take this one and check it periodically for changes.

[2018-01-08 01:35] mishaone opened #151 "Che gone from tenant status in OSIO interface"
1. Investigate why it's not there anymore and whether this is permanent.
2. Make the relevant changes to the documentation in the UG and GSG
3. Update the relevant screenshots in both docs

[2018-01-08 02:06] mishaone commented on #151
After some looking around, this is a bug but there is no information about when it will be fixed (currently SEV2). Links to details:
* Todd reported issue: https://github.com/openshiftio/openshift.io/issues/1495
* Changes
 by Todd in his PDF in early Dec: https://github.com/openshiftio/openshift.io/commit/f61e247a5ebeb12e003b308625b7c6b88fbdac65

I can't see a diff so what this looks like in the d

[2018-01-09 00:02] mishaone commented on #151
Updated and merged minor PR to add this. It seems that this will be fixed not too long from now, so an admonition for now is probably the most efficient workaround.

https://github.com/fabric8io/fabric8-online-docs/pull/152

[2018-01-09 00:02] #151 closed

[2018-01-12 02:27] mishaone opened #153 "Review screenshots and add them (chapter by chapter)"
Using this issue to track which chapters we're working on for screenshots. please feel free to edit and assign yourself to a chapter you're working on so we don't double up.

* ch 1 - misha done
* ch 2 - misha done
* ch 3 - misha done
* ch 4 - misha WIP
* ch 5 -
* ch 6 -
* ch 7 -
* ch 8 -
* ch 9 -
* ch 10 - preeti WIP

[2018-01-12 02:30] mishaone opened #154 "update the "distracting" file name for the main GS page"
Todd commented that he found the e2e_workshop.html file name distracting in the URL.

I suggest we change this to something like osio_gettingstarted.html or just gettingstarted.html. Thoughts, @rkratky and @Preeticp? This seems like an easy fix we can make based on Todd's feedback. Assigning to Robert since this may need changing in a couple of places aside from the assembly doc for the scripts to

[2018-01-12 02:33] mishaone opened #155 "Review language and add more enthusiasm, excitement, etc. for GS doc"
Using this issue to track which chapters we're working on for making the language more "fun, enthusiastic, etc". please feel free to edit and assign yourself to a chapter you're working on so we don't double up. This excludes the introduction, which I'll track separately.

* ch 1 - misha - done
* ch 2 - misha - done
* ch 3 - misha - done
* ch 4 - misha - WIP
* ch 5 -
* ch 6 -
* ch 7 -
* ch 8 -
* c

[2018-01-12 02:37] mishaone opened #156 "s/intro/todd's intro + review"
As discussed, I'm going to leave our intro and create a separate module to include Todd's intro so that we have more enthusiasm, fun, etc. for the user. This task includes reviewing and making the language a bit more professional.

[2018-01-12 05:59] mishaone commented on #156
Created PR: https://github.com/fabric8io/fabric8-online-docs/pull/157

Asked Robert to review and merge if ok.

[2018-01-12 08:04] rkratky opened #158 "Rename e2e file to Getting Started Guide"

[2018-01-12 08:10] #158 closed

[2018-01-12 08:12] rkratky commented on #154
Oops, apologies, I haven't noticed this issue, so I opened #158 for the same. It's now fixed by #159.

[2018-01-12 08:12] #154 closed

[2018-01-12 08:18] rkratky commented on #156
Fixed by #157

[2018-01-12 08:18] #156 closed

[2018-01-12 13:25] rkratky opened #160 "Add a favicon to docs.os.io"
SSIO

[2018-01-14 18:08] Preeticp commented on #155
I will start from the other end with chapter 10, Importing a project. Please note, lot of the modules in it are common to chapter 4.

[2018-01-14 18:11] Preeticp commented on #153
As in the other issue, will begin from the other end with chapter 10, Importing project.

[2018-01-15 05:38] mishaone commented on #155
All good, @Preeticp. For the sake of organization, I've referred to our GS doc's chapters here, which may correspond to different chapters/sections in Todd's GS doc.

[2018-01-15 06:10] mishaone opened #162 "Slight improvement to splash page"
First off, it's great to see we finally have our docs on docs.os.io. This was a passing thought I had about making the splash page look a bit nicer today.

Currently, the links to the two docs look like this:
![links](https://user-images.githubusercontent.com/926572/34928991-ec341c32-fa0c-11e7-9993-e74eea35a04d.png)

The default title link is HTML and PDF is separately listed in brackets. I think

[2018-01-15 09:03] rkratky commented on #162
Hi @mishaone, we already have an issue open about this: https://github.com/fabric8io/fabric8-online-docs/issues/40. I have asked the UX team to help with this, and they're working on it at https://github.com/fabric8-ui/fabric8-ux/issues/703

As for your suggestions, I agree with adding a description (perhaps it could be the abstract we already have in the guides). I do want to keep the link to the

[2018-01-16 04:36] mishaone commented on #162
Sounds good, Robert. I'm happy to keep this open or close it. These were just some thoughts I had looking at the splash page now that it's finally externally available.

[2018-01-16 15:54] rkratky commented on #162
Ok, thanks. Closing this. Please, continue commenting in #40.

[2018-01-16 15:54] #162 closed

[2018-01-17 05:10] mishaone commented on #153
@Preeticp please update if you move past the current chapter you're on so we don't duplicate the work (same for the other issue)

[2018-01-17 06:11] Preeticp commented on #153
Sure @mishaone, was working on other Planner and Analytics issues which had to go in asap.

[2018-01-17 07:38] rkratky commented on #153
@mishaone I see you marked the first 3 chapters as done. Please, submit a PR (or PRs) for those, so that we can a) continuously update the prod doc, and b) work on other stuff in those chapters without running a risk of conflicts.

[2018-01-17 17:07] rkratky opened #164 "Typo in Intro chapter"
1. Introduction

"A more important aspect of the Early **Aspect** Program is to get your feedback."

[2018-01-17 20:48] mishaone commented on #155
For the sake of tracking work done for this, this is the first PR: https://github.com/fabric8io/fabric8-online-docs/pull/163

[2018-01-17 20:49] mishaone commented on #153
For the sake of tracking this issue, this is the first PR: https://github.com/fabric8io/fabric8-online-docs/pull/163

[2018-01-18 01:55] mishaone commented on #164
Fixed as part of larger PR. Link when I create PR.

[2018-01-18 06:15] mishaone commented on #155
PR#2: https://github.com/fabric8io/fabric8-online-docs/pull/165

[2018-01-18 06:16] mishaone commented on #153
PR #2: https://github.com/fabric8io/fabric8-online-docs/pull/165

[2018-01-18 06:17] mishaone commented on #164
Included in this PR: https://github.com/fabric8io/fabric8-online-docs/pull/165

[2018-01-18 10:20] mishaone commented on #164
PR is merged. Closing issue.

[2018-01-18 10:20] #164 closed

[2018-01-19 06:21] mishaone commented on #155
PR3: https://github.com/fabric8io/fabric8-online-docs/pull/167

[2018-01-19 06:21] mishaone commented on #153
PR3: https://github.com/fabric8io/fabric8-online-docs/pull/167

[2018-01-22 06:15] mishaone commented on #155
PR4: https://github.com/fabric8io/fabric8-online-docs/pull/168

[2018-01-22 06:15] mishaone commented on #153
PR4: https://github.com/fabric8io/fabric8-online-docs/pull/168

[2018-01-23 05:05] mishaone commented on #155
PR5: https://github.com/fabric8io/fabric8-online-docs/pull/169

[2018-01-23 05:05] mishaone commented on #153
PR5: https://github.com/fabric8io/fabric8-online-docs/pull/169

[2018-01-23 17:14] rkratky commented on #61
@mishaone Can we close this? I guess we've got enough info in the GSG. Is that true for the UG, too.

[2018-01-23 23:42] mishaone commented on #61
LGTM @rkratky . I was just leaving this open to dump the same information about where to file bugs and seek help in the UG as well. I'll just add that now and close this.

[2018-01-24 01:18] mishaone commented on #61
Created PR for this: https://github.com/fabric8io/fabric8-online-docs/pull/170

[2018-01-24 15:38] rkratky commented on #61
Fixed by #170.

[2018-01-24 15:38] #61 closed

[2018-01-25 06:40] mishaone commented on #155
PR7: https://github.com/fabric8io/fabric8-online-docs/pull/172
(6 was just one screenshot)

[2018-01-25 06:40] mishaone commented on #153
PR7: https://github.com/fabric8io/fabric8-online-docs/pull/172
(6 was just one screenshot)

[2018-01-26 15:26] rkratky opened #173 "Update docs when 'Applications' and 'Environments' screens go away"
Todd: _"The Application and Environments screens are going away, being replaced by a single Deployments screen. You can set your profile feature level down to "Internal" to see the Deployments screen."_

[2018-01-29 23:54] mishaone opened #174 "GS doc feedback"
Feedback on Todd's doc, to be checked in the latest version of our GS doc:

* P17, “Name” is in the docs, “OpenShift Project Name” is in GUI.
* P26: Instruction to click “Create workspace” actually missing.
* P27: It is not obvious where the command-line screenshot comes from. My Che instance didn’t show any of that.
* P37: Does not say whether the reader should commit the changes.
* P38: Missing

[2018-01-30 04:16] mishaone opened #175 "hello world vertx debugging part needs testing properly"
The code for this part is a little vague and I don't understand the language enough to be able to tell where to add endpoints and such. Test this and ask questions and update as required.

[2018-01-30 05:14] mishaone commented on #155
PR8: https://www.youtube.com/watch?v=E7ZTh9Rd0aA&sns=tw

[2018-01-30 05:14] mishaone commented on #153
Pr8: https://www.youtube.com/watch?v=E7ZTh9Rd0aA&sns=tw

[2018-01-31 05:08] Preeticp commented on #174
@mishaone, I have done a review of the getting started guide wrt this issue before I went for PTO, the PR was merged by Rkratky. If you notice any more required changes, let me know. I can take care of it once I'm back from PTO, next week.

[2018-01-31 05:32] mishaone commented on #174
Hey @preeti. No problem. If you already took care of it, I'll set this to you and close it. :)

[2018-01-31 05:33] #174 closed

[2018-01-31 06:15] mishaone commented on #153
PR9: https://github.com/fabric8io/fabric8-online-docs/pull/177

[2018-01-31 06:15] mishaone commented on #155
PR9: https://github.com/fabric8io/fabric8-online-docs/pull/177

[2018-02-07 08:51] Preeticp commented on #173
Joshua: we need the getting started doc updated, we have removed the App and Env pages in prod-preview

[2018-02-07 13:08] joshuawilson commented on #173
Do we have a time line on when this can be updated?

[2018-02-07 23:40] mishaone commented on #173
Work in progress on this now.

[2018-02-08 07:35] mishaone commented on #173
Initial PR (doesn't include a lot of env and app changes since this was rolled back): https://github.com/fabric8io/fabric8-online-docs/pull/178

More changes to come once the updates are back in prod-preview.

[2018-02-10 02:23] mishaone commented on #173
Second PR: https://github.com/fabric8io/fabric8-online-docs/pull/179

Validated, tested and looks okay. Ready to be shared publicly whenever the team is ready.

[2018-02-10 02:23] joshuawilson commented on #173
Thanks @mishaone

[2018-02-11 01:45] rkratky commented on #173
@mishaone Apologies for the delay. Just merged to prod.

[2018-02-11 07:17] joshuawilson commented on #173
@rkratky I noticed that the `Deployments` page image is with the `internal` setting, it is `experimental` in production. @corinnekrych can you please update prod-preview accordingly.

[2018-02-12 04:27] mishaone commented on #155
This task is done, except the SpringBoot quickstart part, which is commented out. This will be updated later when Todd & co decide what they want to replace that part of the tutorial. Closing this as done (and pushed to production).

[2018-02-12 04:27] #155 closed

[2018-02-12 04:27] mishaone commented on #153
This task is done, except the SpringBoot quickstart part, which is commented out. This will be updated later when Todd & co decide what they want to replace that part of the tutorial. Closing this as done (and pushed to production).

[2018-02-12 04:27] #153 closed

[2018-02-12 05:14] mishaone commented on #173
@joshuawilson I'll review and update as soon as this is available in prod-preview.

[2018-02-12 06:17] joshuawilson commented on #173
@mishaone the same link (https://fabric8-ui-fabric8-ui-pr-2516-fabric8-ui.badger.fabric8.io/) will continue to work until the PR is merged. And feature toggle has been updated.

[2018-02-13 00:16] mishaone commented on #173
@joshuawilson I'm blocked on some parts of the documentation (currently using some hacky workarounds or omitting altogether) based on this issue: https://github.com/openshiftio/openshift.io/issues/945 (last comment is my current situation with the PR build/prod-preview).

[2018-02-13 02:30] joshuawilson commented on #173
OK, I understand. We can take two approaches on this. The docs are updated even if they need a new image. So I can make the changes in prod, but I need to get these new docs linked in the app. If the issue you are facing with the pipelines gets fixed first then you can get your image. If we get the links updated and the change pushed then you can get it from prod. Either way we will have it sorted

[2018-02-13 03:40] mishaone commented on #173
Sounds good either way, Joshua. Thanks and I'll keep trying for now until the situation is resolved in the next few days.

[2018-02-13 04:53] mishaone opened #180 "References to tenant for Che and Jenkins status indicator"
Problem reported in https://github.com/openshiftio/openshift.io/issues/1826
Using this issue to track the problem for our getting started doc.

[2018-02-13 04:54] mishaone commented on #180
FYI - for the moment, we are indeed referring to it as tenant [1] but happy to change it as necessary if some other term is preferred.

[1] - https://docs.prod-preview.openshift.io/getting-started-guide.html#confirming_che_jenkins_status

[2018-02-13 04:54] #180 closed

[2018-02-13 04:59] mishaone opened #181 "Document create work item features more comprehensively in GS doc"
Reference from issue Rick logged here: https://github.com/openshiftio/openshift.io/issues/1755

Check our GS doc to ensure the documentation for the create work item feature is as complete as it needs to be for the workflow.

[2018-02-13 04:59] mishaone commented on #181
We now have a "creating and using new work item" section in the GS doc that should address this issue: https://docs.openshift.io/getting-started-guide.html#creating_using_new_work_item

[2018-02-13 05:03] mishaone opened #182 "update stack report section in the GS doc"
The stack reports section no longer works and looks as described in earlier versions of the doc, so this needs an update. reference from here: https://github.com/openshiftio/openshift.io/issues/1753

[2018-02-13 05:12] Preeticp commented on #181
@mishaone the Getting Started Guide covers only part of the work item flow. openshiftio/openshift.io#1755 imho talks about other features of the Work Item which would be covered in the User Guide. This work is currently in progress, completed section has been shared with the dev team for further inputs. Request to keep this issue open till we have those sections in too.

[2018-02-13 05:15] mishaone commented on #181
@Preeticp - I'm not sure the GS should have a comprehensive coverage of any feature aside from what is required for the workflow being described. Perhaps a separate issue for the UG to cover work items comprehensively would be more accurate? I can't really argue for having that kind of coverage in the GS doc because that's not the purpose of the doc, while the UG definitely fits that purpose. WDYT

[2018-02-13 05:23] Preeticp commented on #181
@mishaone, separate issue for UG makes sense. I agree, we do not want to cover detailed information in the GS doc. I just thought we could use the same issue for tracking that work too as it is related to the same OSIO parent issue and since UG work is in progress too. Will close this and open a new one.

[2018-02-13 05:23] #181 closed

[2018-02-16 00:54] mishaone commented on #173
Hi @joshuawilson - any update on this situation?

[2018-02-16 01:59] joshuawilson commented on #173
@mishaone can you try https://fabric8-ui-fabric8-ui-pr-2516-fabric8-ui.badger.fabric8.io/ for the updated version with the updated feature flag.

[2018-02-16 04:11] mishaone commented on #173
Sorry, @joshuawilson, same issue.
![nojoy](https://user-images.githubusercontent.com/926572/36293190-3738d324-1323-11e8-9860-821a008f8123.png)

I can get the workflow working on production, and sbose examined my network log and said it was just the issue I mentioned before where builds either take ages or don't start at all.

[2018-02-16 05:02] joshuawilson commented on #173
have you tried updating your tenant?

[2018-02-16 05:28] mishaone commented on #173
I have. It just seems to be an issue with the prod-preview and PR builds, but seems to work relatively reliably on production.

[2018-02-16 15:25] joshuawilson commented on #173
ah, I think you need to update your account to use free-stg on prod-preview

[2018-02-19 06:44] mishaone opened #184 "Update all screens in GS doc with ? icon"
A new ? icon exists next to the tenant status one. All screenshots with this need to be updated. Also all screenshots with the profile menu must be updated because the "About" and "documentation" links that were previously in there are not (moved to ? icon).

[2018-02-19 09:29] rkratky opened #185 "Update screenshots, text for a new login screen"
Catherine: I just wanted to point out that this release will include a new log in page that looks different that the current OSIO log in page.  We'll probably need to check out screen shots in documentation and make sure we update them. Here's where you can see the new OSIO log in Staged: https://developers.stage.redhat.com/auth/realms/rhd/protocol/openid-connect/auth?scope=openid&state=RLjoxdLnIt

[2018-02-19 23:37] mishaone commented on #184
This seems like the quicker fix, so WIP now.

[2018-02-20 08:09] Preeticp commented on #116
Currently on hold based on input from Developers. Will be pushed ahead at a later date, after receiving a go ahead from them.

[2018-02-20 23:49] mishaone commented on #173
This should be done and now pushed to prod as well here: https://docs.openshift.io/getting-started-guide.html#optional_detailed_views

@joshuawilson, could you have a look and confirm you're satisfied and we can close this issue?

[2018-02-20 23:49] mishaone commented on #184
Done and published to prod on docs.openshift.io

[2018-02-20 23:49] #184 closed

[2018-02-21 00:35] mishaone commented on #121
Are you working on this, @Preeticp? I'm looking through unowned issues to find things nobody has taken on.

[2018-02-21 04:22] joshuawilson commented on #173
looks good to me

[2018-02-21 04:22] #173 closed

[2018-02-21 05:32] Preeticp commented on #121
@mishaone I am currently working on the Planner and Analytics sections of the User guide. If you have the bandwidth, please feel free to take it up. If not, I will get onto this as soon as I am done with the other two.

[2018-02-22 10:41] rkratky commented on #185
@mishaone, I see this has now been deployed to prod. Could you please take it up now?

[2018-02-22 11:50] #96 closed

[2018-02-22 12:21] mishaone commented on #185
Ack, will do tomorrow

On 22 Feb. 2018 8:41 pm, "Robert Kratky" <notifications@github.com> wrote:

[2018-02-23 05:51] mishaone commented on #185
So it looks like the screenshots aren't very relevant to the UG (no screenshots for this part) and the GS doc doesn't really have anything on a generic login since it starts with the first time login (which includes adding your GH and OSO accounts to the OSIO account, etc. but not a generic log in). Should there be one? I'm reluctant to add screenshots to the UG since this is a fairly basic thing

[2018-02-23 10:29] Preeticp opened #189 "Create a CONTRIBUTING.adoc for this repository"
We need a contributing guidelines doc for this repository, which would also house the conventions followed in the docs. I will start  a PR for the same and get this rolling.
@rkratky, @mishaone we are following many conventions based on our discussions in the comments of Issues/PRs, it would probably be a good idea to list all of them here.

[2018-02-23 11:35] rkratky commented on #185
Even better. No need to add a screenshot for such a trivial thing. Closing.

[2018-02-23 11:35] #185 closed

[2018-02-27 16:05] rkratky opened #190 "Link to UG invalid"
Last para in GSG links to https://docs.openshift.io/user_guide.html -- it should https://docs.openshift.io/user-guide.html

[2018-02-27 16:16] #190 closed

[2018-02-27 18:46] rkratky opened #192 "Document integration of "Getting Started ngx-forge/ngx-launcher in Openshift.io""
Add docs to both GSG (example of use) and UG (feature description) when feature/flow implemented. See https://github.com/openshiftio/openshift.io/issues/2178 for details.

[2018-02-28 03:36] Preeticp commented on #192
@rkratky I am keeping a watch on this.

[2018-02-28 03:41] Preeticp commented on #121
@mishaone this work would probably be influenced by #192 as well.

[2018-02-28 03:44] mishaone commented on #189
I'm working on this, but would adding information to the README.md work better than a separate adoc file that would need to be hosted somewhere?

[2018-02-28 03:56] Preeticp commented on #189
My 2 cents:
A separate Contributing makes sense to me, in fact I would suggest certain sections from the Readme could probably go to the contributing.
Readme should probably me more generic, explaining the contents of this repo, objective, link to the contributing doc etc.

[2018-02-28 04:04] mishaone commented on #189
The current readme seems reasonably useful to me as it is. I'd just add a contributing section to it before the building and testing stuff, since that would be the order. I'd also suggest that contributing should be up front and automatically displaying in the README to encourage people to contribute directly rather than have a separate Contributing doc, especially since that would also include so

[2018-02-28 04:32] Preeticp commented on #189
@mishaone I am not married to either views, so if you feel a single doc is the way to go, please go ahead. Let's just get the information in, we can always restructure later. Main point, on which I am sure we all agree, is that we need to follow these conventions. :)

[2018-02-28 04:42] mishaone commented on #189
Absolutely. I've also asked the docs convention project to have an externally available link to their convention recommendations, which should hopefully help us shave down the individual guidance we need to add to this, but that's not around at the moment.

[2018-02-28 09:44] rkratky commented on #189
The reason for a separate CONTRIBUTING file is that Github expects it and automatically offers it to potential contributors for reading. See https://github.com/blog/1184-contributing-guidelines

_We've tried making this easy for everyone. As a maintainer, all you have to do is add a CONTRIBUTING file (or CONTRIBUTING.md if you're using Markdown) to the root of your repository. Then we will add a l

[2018-02-28 23:02] mishaone commented on #189
Ah, I didn't know that. It makes sense to have a separate doc if that's the mechanism. Thanks for clearing it up, Robert! I'll shift around my changes to a new doc and create a PR.

[2018-03-01 06:26] mishaone commented on #189
PR1 (https://github.com/fabric8io/fabric8-online-docs/pull/193) created today and tagged Robert and Preeti for their input on how it's going so far.

[2018-03-02 17:25] Preeticp opened #196 "Document the why of SDD"
First draft has been created, partial review comments received. Awaiting recording as further inputs for the concept topics.
https://docs.google.com/document/d/1BY3Ro82v3fsTkEv96VcuCF-meJmT81dDmV_yhmTLVkE/edit?usp=sharing

[2018-03-05 04:56] Preeticp commented on #22
- [ ] Creating WI
- [ ] Modifying WI
- [ ] Working with/using Planner
- [ ] About WI/Planner

[2018-03-06 07:04] mishaone commented on #189
PR2: https://github.com/fabric8io/fabric8-online-docs/pull/197

[2018-03-06 10:02] rkratky opened #198 "New repo structure"
Proposed new structure:

[code]

[2018-03-07 16:29] abokth opened #199 "Multiple accounts with same email address"
I signed up for openshift.io and had multiple accounts at developer.redhat.com with the same email address. Due to this I got stuck at a login dialog which wouldn't accept the password for the pre-filled-in username. I was able to clear this up by switching the email address on one account, but it would have been simpler to do this before signing up, to avoid confusion. This might be something to

[2018-03-07 17:13] rkratky commented on #199
@alexeykazakov Is this a bug in auth? It sounds somewhat similar to https://github.com/openshiftio/openshift.io/issues/2332

[2018-03-07 17:34] alexeykazakov commented on #199
Yes, this is related to https://github.com/openshiftio/openshift.io/issues/2332 but a bit different issue I think.. Looks like developers.redhat.com couldn't login the user at all. I will ping Vlastimil (RHD) to investigate.

[2018-03-09 00:01] mishaone commented on #189
PR3 (markdown conventions): https://github.com/fabric8io/fabric8-online-docs/pull/200

[2018-03-09 05:46] Preeticp commented on #192
Have got hold of invision docs for this from UX, so there are 2 parts to this, one is the launcher part and the other is the dependency editor(DE) part. The DE part is ready, the Launcher part, still evolving. What needs figuring still is, how the DE fits into the Launcher Getting Started experience.
Scheduled a session with one of the devs to get more information on the overall picture. @rkratky

[2018-03-09 07:20] velias commented on #199
@abokth we changed developers.redhat.com IdP (used by openshift.io also) recently to fully support existing multiple accounts with same email address. We tried to implement rules which provide good backward compatibility for users who used to login with email. It is really strange if you was not able to login for some account at all. Could you please provide me more info so I can investigate what

[2018-03-09 09:05] rkratky commented on #192
@Preeticp Thank for following up on this. Please, keep updating this issue with info as you get it.

[2018-03-09 10:47] Preeticp commented on #192
Currently, the Launcher experience can be seen in the prod-preview (In your space>Add to space>new import experience).
While work flow is likely to remain similar, discussion is ongoing on a lot of pieces, current UX is common to both Launcher and OSIO. Certain part of the experience will be relevant only to OSIO, so pieces would be removed or modified accordingly. A lot of the experience is simil

[2018-03-12 03:26] mishaone commented on #189
PR4: https://github.com/fabric8io/fabric8-online-docs/pull/201

[2018-03-12 03:46] mishaone commented on #189
That should be the changes to README and CONTRIBUTING taken care of. Closing issue.

[2018-03-12 03:46] #189 closed

[2018-03-12 09:37] mishaone commented on #198
My suggestion illustrated:

docs
├── images
│   ├── image1.png
│   └── image2.png
├── styles
│   └── styles.css
├── assembly1.adoc
├── assembly2.adoc
├── guide1.adoc
├── guide2.adoc
└── modules
     ├── module1.adoc
     └── module2.adoc

[2018-03-12 09:50] #118 closed

[2018-03-12 09:54] rkratky commented on #70
Basics in the GSG. Could be reopened later.

[2018-03-12 09:54] #70 closed

[2018-03-12 09:55] rkratky commented on #63
To close, script needs to be fully automated.

[2018-03-13 00:25] #13 closed

[2018-03-13 04:53] Preeticp commented on #121
Closing this issue as the changes through #192 would greatly affect this section and can be tracked through that issue itself.

[2018-03-13 04:53] #121 closed

[2018-03-13 04:56] Preeticp commented on #97
Closing this issue, as glossary concepts (pulled in as infotips) are added as and when a new concept topic is added to the guide and can be tracked through those issues.

[2018-03-13 04:56] #97 closed

[2018-03-13 05:33] Preeticp commented on #12
The above FAQ is mostly to do with Developer docs and not with GS/User guides. Currently tips and other admonitions are captured in respective sections. We could probably either reopen or create a new issue for this once we have sufficient input for this section. Closing for now.

[2018-03-13 05:33] #12 closed

[2018-03-13 09:53] Preeticp opened #202 "Modify Stack Report Sections as per latest UX"
- [x] Create Draft
- [x] Get Tech review <Sent for review, expecting answers to some questions raised during first round of discussions. Awaiting ack from SMEs>
- [ ] Create PR, get review and merge.

[2018-03-13 09:56] Preeticp commented on #202
https://docs.google.com/document/d/1uqaWE-HI8hGXN3DKNsSpBke-sKpDo0TVMI8ftBinQgs/edit?usp=sharing

[2018-03-14 06:29] brizrobbo opened #203 "4.11. Creating a Che workspace describes WORKSPACES section, but should be column"
In [Section 4.11. Creating a Che workspace](https://docs.openshift.io/getting-started-guide.html#creating_che_workspace-hello-world) of the [OpenShift.io Getting Started Guide](https://docs.openshift.io/getting-started-guide.html#creating_che_workspace-hello-world), point 1 mentions:

1. In the **WORKSPACES** section ...

This is more appropriately described as a "column" not a section, as WORKSPA

[2018-03-14 06:42] brizrobbo opened #204 "4.12. Configuring your Che workspace shows wrong run command setup"
_[Not sure if this issue should be in Documentation or Product]_

In [Section 4.12. Configuring your Che workspace](https://docs.openshift.io/getting-started-guide.html#configuring_your_che_workspace-hello-world) of the [OpenShift.io Getting Started Guide](https://docs.openshift.io/getting-started-guide.html#creating_che_workspace-hello-world), point 2 (d) shows:

d. Click the *run* option from th

[2018-03-14 06:52] mishaone commented on #204
Admittedly, I've never seen this option before. @joshuawilson can you tag someone who would know if this is a valid option and why it would appear?

[2018-03-14 07:00] Preeticp commented on #204
Hi @mishaone I tried following this with the Che folks on Jan 22, unfortunately received no response, and it fell of my plate with other things taking priority. I will find a link to the archived mail, meanwhile here is the mail copied over for further reference:

Hi Mario, Gorkem,

I am part of the OSIO docs team and have been updating the Getting Started guide for OSIO [1] (which is based on Tod

[2018-03-14 07:03] Preeticp commented on #204
I see the images are not rendering properly I will try to add them here.

[2018-03-15 01:05] mishaone commented on #204
@brizrobbo and @Preeticp - this sounds like an issue in OSIO rather than the docs. Can we copy over the details as reported by both of you to a new issue in their repo so that it can get attention from the che team or be evaluated as a known issue that needs documentation?

[2018-03-15 01:17] joshuawilson commented on #204
I agree, this should be written up on https://github.com/openshiftio/openshift.io/issues.
Ping @gorkem @l0rd

[2018-03-15 01:20] brizrobbo commented on #204
I have now migrated over to https://github.com/openshiftio/openshift.io/issues/2611.

Will close this issue.

[2018-03-15 01:20] #204 closed

[2018-03-15 03:39] Preeticp commented on #192
https://github.com/openshiftio/openshift.io/issues/2440
https://github.com/openshiftio/openshift.io/issues/2217
Adding these issues here to allow easy tracking for this work.

[2018-03-15 06:00] Preeticp commented on #192
As per stand up discussion today, DE would be an optional feature in the overall launcher flow. That is, based on the user profile, an user can opt in or out of this feature. If he opts in he will see the DE in the launcher work flow, if not then it will not be part of the work flow.

[2018-03-15 08:47] rkratky opened #206 "Application Wizard window needs updating"
Section 4.2 Creating a new project
Step 2c The screenshot has the organization field but that field is not available

ref https://github.com/openshiftio/openshift.io/issues/2595

[2018-03-15 09:04] Preeticp opened #207 "Update working with Pipelines section"

[2018-03-15 09:06] Preeticp opened #208 "Update working with Collaborators section"

[2018-03-15 09:06] Preeticp opened #209 "Update working with areas section"

[2018-03-15 09:22] Preeticp commented on #28
@mishaone @rkratky, #192 will overlap with this issue. I do not remember what we decided to do with this issue in our triaging on monday, but there is no point on working on this now as the experience will change with the new launcher experience.

[2018-03-15 09:41] rkratky commented on #28
@Preeticp Is the definition/description of what 'spaces' are going to change? If not, I think this issue is still valid.

[2018-03-15 09:56] Preeticp commented on #28
Right @rkratky, sorry, I got confused with the 'Configuring a Codebase' section.

[2018-03-19 04:21] #203 closed

[2018-03-19 07:03] mishaone commented on #28
Done in https://github.com/fabric8io/fabric8-online-docs/pull/205

[2018-03-19 07:03] #28 closed

[2018-03-19 13:21] rkratky commented on #150
@mishaone This is now in prod-preview. Please, update the docs.

[2018-03-20 01:00] mishaone opened #212 "Jenkins idling issue - document or not?"
I've seen this as well. The tenant status for Jenkins stays on grey (waiting) for a very long time unless we go to jenkins.openshift.io, where we see idling status and eventually Jenkins becomes ready to start. If we create quickstarts, etc. while Jenkins is idling, the pipeline builds get stuck forever on the first start. Checking if it's worth adding to docs or if this will be fixed.

[2018-03-20 04:04] mishaone commented on #212
Update: This is a design decision and may be changed in the future but for now, documentation is probably best.

[2018-03-20 06:05] mishaone commented on #150
Removed content and created PR: https://github.com/fabric8io/fabric8-online-docs/pull/213

[2018-03-20 06:09] mishaone commented on #208
Working on this now

[2018-03-20 06:49] mishaone commented on #208
Created PR: https://github.com/fabric8io/fabric8-online-docs/pull/214

[2018-03-20 07:56] rkratky commented on #212
Is there any reasoning behind that? In other words, can we offer a reasonable (logical) workaround in docs, or is it on the level of a known issue?

[2018-03-20 08:14] mishaone commented on #212
The idea is that Jenkins is meant to be idling when it's not in use but the user may still be using OSIO. For example, using the Planner. At the moment, there appears to be an odd issue where Jenkins does not stop idling until the user visits a separate page (jenkins.openshift.io) and waits for the idling process to conclude. Therefore, the idling when not in use is by design, but the not coming o

[2018-03-20 21:41] mishaone commented on #208
Done

[2018-03-20 21:41] #208 closed

[2018-03-21 05:21] mishaone commented on #150
Another PR addressing the GitHub part: https://github.com/fabric8io/fabric8-online-docs/pull/216

[2018-03-21 13:14] rkratky opened #217 "Test moving TOC to left"
TOC on the right

* isn't usual for docs
* has two scrollbars right next to one another

Test moving to the left. Needs CSS adjustments b/c of header/footer.

[2018-03-21 13:18] rkratky opened #218 "Improve JSON export script"
`scripts/export_infotips.sh`:

- run automatically when `glossary.adoc` changes
- make script less brittle

[2018-03-21 13:18] rkratky commented on #63
Closing; script (`scripts/export_infotips.sh`) working. Script improvements tracked in #218.

[2018-03-21 13:18] #63 closed

[2018-03-21 16:59] rkratky opened #219 "Swap header, footer for official ones"
Details and code in https://github.com/openshiftio/openshift.io/issues/2215#issuecomment-374209575

[2018-03-21 19:02] haf-tech opened #220 "Wrong screen in chapter 5.3"
In chapter 5.3 is a wrong screen used for the git commit dialog, showing the previous change and not the change for the deployment.yml file.

See attached a possible right screen/dialog for this chapter.
![gitcommit_deployment](https://user-images.githubusercontent.com/29369954/37731559-bae2a7f2-2d42-11e8-957b-ba83d3c5aa8f.PNG)

[2018-03-22 01:55] #220 closed

[2018-03-22 04:55] mishaone opened #222 "document troubleshooting - when to use update tenant/reset env"
I'm trying to fit these two buttons into the user story.
* When should the user use `Reset environment`?
* When should the user use `Update tenant`?
* Do we need to use both when clearing out OSIO?
* What to do if the tenant status indicator shows that Jenkins is not working. E.g:
![jenkins](https://user-images.githubusercontent.com/926572/37751921-eae3e788-2de0-11e8-99a6-1765303d4d0b.png)

[2018-03-22 04:56] mishaone commented on #222
So far, information from sbose:

[code]

[2018-03-22 13:02] rkratky opened #224 "Update intro (and other) sections to reflect GA status"
- all mentions of preview, testing, alfa, etc. status
- all mentions of expected instability
- all mentions of waiting list, approvals, etc.
- ...

This should ideally be prepared with some time to spare, so that the branch can be quickly merged when GA status is announced.

[2018-03-22 17:23] rkratky commented on #150
@mishaone Is there anything still to do for this issue?

[2018-03-23 00:28] mishaone commented on #150
Nope, sorry, I meant to close this when I closed the other one in the OSIO repo, but got distracted. Closing now.

[2018-03-23 00:28] #150 closed

[2018-03-23 01:05] mishaone opened #225 "check images and delete ones that are not used in any docs"
We have a lot of images that may not be used anymore. We need to go through the lot and (probably manually) check if they're use in the project. If they aren't, they should be deleted.

[2018-03-23 05:21] mishaone commented on #207
Created PR: https://github.com/fabric8io/fabric8-online-docs/pull/226

[2018-03-23 08:16] rkratky commented on #225
Thanks for bringing this up, @mishaone. Reassigning to myself because I have thought about this previously, and I want to include an automated check for this in our validation script.

[2018-03-23 08:27] rkratky commented on #40
Clkosing. Header & footer work tracked in #219.

[2018-03-23 08:27] #40 closed

[2018-03-25 23:08] mishaone commented on #206
Could not replicate issue. AFAIK this field has never been removed but if it did disappear, it may have been a one-time glitch. Closing issue.

[2018-03-25 23:08] #206 closed

[2018-03-26 01:17] mishaone commented on #207
Merged PR

[2018-03-26 04:46] #207 closed

[2018-03-26 04:48] mishaone commented on #209
WIP now

[2018-03-27 03:14] mishaone commented on #225
Quick addition: can we make the automated checking mechanism adaptable enough to look through all module files and see if they are referenced anywhere? If not, it's probably an outdated module and can be discarded.

[2018-03-27 04:19] mishaone commented on #115
Asked for clarification about requirements. No response yet. Check back later.

[2018-03-27 05:50] mishaone commented on #209
Created PR and merged: https://github.com/fabric8io/fabric8-online-docs/pull/229

[2018-03-27 07:30] rkratky commented on #225
@mishaone Yes, that's the plan, I just forgot to mention it here.

[2018-03-27 16:02] #202 closed

[2018-03-28 00:36] #209 closed

[2018-03-28 07:20] rkratky opened #230 "Invalid infotips JSON"
@debloper:

* objects are to be separated by commas
* all the objects should ideally be contained in an array

[2018-03-28 08:11] rkratky opened #231 "Document Launcher interface and features in the UG"
- see #192 for context
- consider reuse of Launcher docs from https://appdev.openshift.io/docs/getting-started.html

[2018-03-28 08:12] rkratky opened #232 "Document Dependency Editor interface and features in the UG"
see #192 for context

[2018-03-28 08:13] rkratky opened #233 "Adapt existing Vert.x GSG story to use Launcher"
see #192 for context

[2018-03-28 08:13] rkratky opened #234 "Adapt existing Spring Boot GSG story to use Launcher"
see #192 for context

[2018-03-28 08:14] rkratky commented on #192
This is too broad. Closing and splitting it up to:

- Document Launcher interface and features in the UG: #231
- Document Dependency Editor interface and features in the UG: #232
- Adapt existing Vert.x GSG story to use Launcher: #233
- Adapt existing Spring Boot GSG story to use Launcher: #234

[2018-03-28 08:14] #192 closed

[2018-03-28 08:18] Preeticp commented on #231
I can take this up.

[2018-03-28 08:18] Preeticp commented on #232
I can take this up.

[2018-03-28 08:21] rkratky opened #235 "Add a Planner use example to GSG story"
Expand at least one GSG story with an example of Planner use. Link to reference info in the UG as needed.

Could look something like this:

1. Start by planning a project (?)
2. Create and assign WI(s)
3. Pick up WI(s) and start coding
4. (example of an urgent WI to curb resource use?)
5. Finish work, indicate as much in the Planner

[2018-03-28 08:24] rkratky opened #236 "Add a real-world touch to a GSG example"
Based on input from $(knowledgeable evangelist), expand at least one GSG story with a real-world example of OSIO use.

Suggestion: consider adding an API to a completed HTTP example. Use the Planner to track the additional task in the example.

[2018-03-28 08:26] Preeticp commented on #235
I can help on this.

[2018-03-28 08:27] rkratky commented on #235
@Preeticp Do you mean you want to take it, or just offering help?

[2018-03-28 08:33] Preeticp commented on #235
I can take it up.

[2018-03-28 09:17] Preeticp commented on #235
Do we have more information on point 4-(example of an urgent WI to curb resource use?)

[2018-03-28 09:24] rkratky commented on #235
Not really, just an idea.

[2018-03-28 09:28] Preeticp commented on #231
Quick Start demo
https://drive.google.com/file/d/1y8DJd-6ncBRwAcrVv0_2r-YVrsr1Waab/view
Import Demo
https://drive.google.com/file/d/1_MIhvxpukRkLQQLVWT0h47cW25R_MXuG/view

[2018-03-28 11:53] Preeticp commented on #232
Related to this dev issue: https://github.com/openshiftio/openshift.io/issues/2810

[2018-03-28 12:30] Preeticp opened #237 "Document infotips/glossary definitions for the Scrum template"
Derived from original issue here:
https://openshift.io/openshiftio/openshiftio/plan/detail/1744?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20$WITGROUP:Scenarios)

and here:
https://openshift.io/openshiftio/openshiftio/plan/detail/1823?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20$WITGROUP:Scenarios)

[2018-03-28 13:00] Preeticp opened #238 "Remove/comment out references to board view in Planner"
Reference:
Dev issue:
https://openshift.io/openshiftio/openshiftio/plan/detail/1945?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20$WITGROUP:Scenarios)
For GA, Board view will not be in the UX or will be part of internal/experimental features. Discussions are ongoing. Meanwhile we have been asked to remove/comment out references to the board view.
This affects both the guides and influence

[2018-03-28 13:54] Preeticp commented on #235
@rkratky unassigning myself from this and adding help wanted. I see quite a few things on my plate apart from the issues here such as the Planner UX work coming up.

[2018-03-28 15:48] rkratky opened #239 "Redo landing page to accommodate Analytics Cookbook"
Landing page list of docs needs to clearly distinguish between docs for end users and for developers interested in contributing to the project.

Do this in conjunction with publishing the Analytics Cookbook (#116).

[2018-03-28 23:21] mishaone commented on #235
We could create a work item to track the optimizing resources part we already have, if we want to adapt the existing content in the GS doc. Is that what you had in mind, @rkratky. If so, I can probably get this done fairly quickly.

[2018-03-29 05:50] rkratky commented on #235
@mishaone Good idea. The reason I included that suggestion was to make the Planner workflow a tiny bit more involved than just:

1. create a WI
2. do the task
3. close the WI

So, I'd like to interject some additional task that reacts to what is being done for the first task. The resource optimization idea is ideal.

[2018-03-29 05:51] mishaone commented on #235
Cool. In that case, I can do it fairly easily. Assigning to myself.

[2018-03-31 11:35] #198 closed

[2018-03-31 12:03] rkratky opened #241 "Discard XML builds after validation"
Following validation, `master.xml` files are left in the repo structure. Update validation script to discard them following a successful validation.

[2018-03-31 13:50] #241 closed

[2018-04-01 16:34] #230 closed

[2018-04-01 17:13] rkratky commented on #230
@debloper, please, have a look at the JSON file now and let me know if it's what you expect: https://docs.prod-preview.openshift.io/json/infotips.json

[2018-04-02 14:07] rkratky opened #244 "Fix & improve the add_guide.sh script"
The script (`scripts/add_guide.sh`) needs to reflect the repo's new structure, and it should be a lot smarter (basic sanity checking of names, auto-creat basic files, etc.)

[2018-04-02 14:15] rkratky commented on #244
Script fixed & improved:

- basic usage info
- sanitizes input (convert to ASCII, remove quotes)
- auto-creates directory name
- creates required dir structure
- creates master.adoc
- creates umbrella assembly

[2018-04-02 14:45] #244 closed

[2018-04-02 15:17] rkratky commented on #116
@Preeticp I have just merged #246, which created required dir structure for the cookbook (I used the title you suggested: Analytics Integration API Guide; if it turns out it cannot be used, I'll update the repo).

Let me know when you're done with review comments in #149, and I will then migrate the content to the new structure.

[2018-04-03 00:08] mishaone commented on #238
Happy to take this on, but probably when it's actually available in the UI so I can see what to switch out the references with.

[2018-04-03 05:36] mishaone opened #248 "add a section in UG for general user setting and config workflows"
Add information about the following (and others):

* adding an organization to GitHub (see https://github.com/openshiftio/openshift.io/issues/2849)
* changing whether you see internal features or dev, etc. (I probably created this for the GS doc earlier, find and isolate it)
* Setting your details in the profile menu

[2018-04-03 06:00] Preeticp commented on #232
Have been asked to hold work on this till there is a firm go ahead from the Dev team, as they are not sure if this would be ready for GA. Would probably get more clarity on this by next week.

[2018-04-03 08:07] rkratky opened #249 "Add guidelines for branch naming"
Update the CONTRIBUTING file with the following:

* i1234-f8-fixing-blah (issues raised in https://github.com/fabric8io/fabric8-online-docs/issues)
* i1234-io-fixing-blah (issues raised in https://github.com/openshiftio/openshift.io/issues)

[2018-04-03 08:20] rkratky commented on #238
@Preeticp Any ETA on when this will hit prod-preview?

[2018-04-03 15:39] rkratky commented on #116
@Preeticp Just merged #250, which prepped the landing page for the Cookbook. All is now ready and waiting on #116.

[2018-04-04 09:56] mishaone commented on #248
PR: https://github.com/fabric8io/fabric8-online-docs/pull/251

[2018-04-04 14:05] rkratky opened #252 "Che 6 new UI -- screenshot updates"
Che version 6 will be deployed to OSIO. While the features and the way users interact with the app won't change, the UI will be new. So, screenshots will need to be updated. There are a bunch in the GSG and, I believe, one in the UG.

@mishaone, the Che team offered to migrate your account (so that you'll have access to Che 6) earlier than others. That should give us more time.

[2018-04-04 14:10] rkratky commented on #252
Mario: _As soon as Misha opens the codebase UI page her existing workspaces will be migrated (if existing) and new workspaces will be created using Che 6._

[2018-04-05 02:26] #248 closed

[2018-04-05 04:39] mishaone commented on #252
Blocked atm due to https://github.com/openshiftio/openshift.io/issues/627 but WIP

[2018-04-05 06:16] mishaone commented on #238
Nevermind, didn't actually need a change yet, assuming the board button just disappears from the UI.

Created PR: https://github.com/fabric8io/fabric8-online-docs/pull/254

[2018-04-05 06:18] mishaone commented on #238
Also deleted a module and some images (after confirming they are not used elsewhere in the docs) since they pertain to just board view and therefore are no longer needed.

[2018-04-05 07:50] debloper commented on #230
One thing to mention here (which of course doesn't affect anything from frontend's perspective) but I'm unsure if `en_EN` is needed to be generic English language `code_SUB`.

For generic language code, it's best to leave them to their ISO 639-1 codes (so, just `en` for English, if the sub-code isn't required). There's also no `EN` sub-code by ISO 3166-2 spec, so it looks like a spaceholder (for x

[2018-04-05 16:13] rkratky commented on #238
@mishaone #254 has been merged. Can we close this?

[2018-04-05 16:29] rkratky opened #256 "Change lang. code in JSON files to 'en'"
SSIA

[2018-04-05 17:32] Preeticp commented on #116
Completed by #255

[2018-04-05 17:32] #116 closed

[2018-04-06 00:11] mishaone commented on #252
Magically unblocked, so will get on this today.

[2018-04-06 05:53] Preeticp commented on #196
Workflow has already been covered in the creating, modifying WI sections.

[2018-04-06 09:35] Preeticp opened #259 "Correct discrepancies in the Glossary"
Not sure how this was introduced but:
The definition of Bug is repeated twice.
Definitions post Scenarios are not being displayed properly. Scenarios was actually meant to be commented out.

[2018-04-06 10:57] Preeticp commented on #259
PR ready, work done, unable to push as network service is down till 8 pm due to some maintenance work. Will push the PR post that. Writing from my phone.

[2018-04-07 16:01] #259 closed

[2018-04-08 13:33] #22 closed

[2018-04-09 04:45] mishaone commented on #175
Did this today as part of updating che screenshots and it works okay with minor updates. Part of today's PR and closing.

[2018-04-09 04:45] #175 closed

[2018-04-09 09:16] Preeticp commented on #237
Moving the priority for this to sev4 as this is not in prod yet, as soon as it is in will up the severity.

[2018-04-09 11:03] rkratky opened #262 "Add troubleshooting note about clearing cache in case of stuck UI"
See https://github.com/openshiftio/openshift.io/issues/2878 for details.

[2018-04-09 11:15] rkratky opened #263 "GSG and troubleshooting enhancements"
See https://github.com/openshiftio/openshift.io/issues/2869 for details.

I suggest linking to UG (and Troubleshooting) where suitable.

[2018-04-09 12:28] Preeticp opened #264 "Replace recommender.api.openshift.io with <recommender api url> in the Integration cookbook"

[2018-04-09 16:55] Preeticp opened #266 "Drop sections 3.1 and 3.2, clean up API and other suggestions"
KB:
1) remove all references to fabric8-analytics, the service is openshift.io

2) add a bit more detail around the token, and that it should be kept
private and secure etc

Michal:
1)...drop sections 3.1 and 3.2 completely...
2)Example responses in 4.2.6 and 4.3.6 show quite a lot of data that we don't provide any more. I.e. the fields will be always empty. The API could use some cleanup

Need to

[2018-04-09 23:45] #238 closed

[2018-04-09 23:48] mishaone commented on #252
Created and merged first PR: https://github.com/fabric8io/fabric8-online-docs/pull/261

[2018-04-10 07:14] Preeticp opened #268 "Add screenshots and minor corrections for WI sections"

[2018-04-10 07:33] msrb commented on #266
API cleanup is something that developers need to do first. Only then we can update the docs.

[2018-04-10 07:33] msrb commented on #266
Thanks for creating this issue @Preeticp :wink:

[2018-04-10 09:07] Preeticp commented on #266
Thanks @msrb can you provide more details on the API cleanup? Will you be creating an issue for the same? Do you think the doc would be blocked by this?

From my side these are the tasks I will take up:
1. Update Supported Ecosystems-remove Pypi, add Swarm
2. Grey out token, add admonition note
3. Drop 3.1, 3.2
4. Update the API response in section 4.2.6 and 4.3.6
Once the cleaned up API is provid

[2018-04-10 11:42] msrb commented on #266
@Preeticp API cleanup was a suggestion from my side, but I am not in charge of that and thus I can't make the call :) @samuzzal-choudhury is your guy :)

I think it would be great to cleanup the API, before people start using it. Without breaking current applications and UI of course - just to remove things that we don't support anymore.

But I have no idea how risky it would be to do such thing n

[2018-04-10 20:01] Preeticp commented on #268
Sev 2 since devs want this ready by the time of click party.

[2018-04-11 01:37] mishaone commented on #252
Second PR: https://github.com/fabric8io/fabric8-online-docs/issues/262

[2018-04-11 01:37] #252 closed

[2018-04-11 06:05] mishaone commented on #262
PR merged: https://github.com/fabric8io/fabric8-online-docs/pull/270

[2018-04-11 06:05] #262 closed

[2018-04-11 06:43] Preeticp commented on #268
Fixed by #269

[2018-04-11 06:43] #268 closed

[2018-04-12 01:07] mishaone commented on #263
Issues to address for this issue:
* Second time use for creatin space - add details about what it looks like/what to do if you already create a space.
* Edit log in the pipeline build part - asked question about this, not sure this is a bug
* "4.5. Viewing the build pipeline logs" - what to do if jenkins issue doesn't happen.

[2018-04-12 12:15] Preeticp commented on #232
Note: #2810 requires me to work on the content on the UX as well as document it in the guides.

[2018-04-16 06:31] mishaone commented on #263
Create and merged PR: https://github.com/fabric8io/fabric8-online-docs/pull/272

[2018-04-16 06:31] #263 closed

[2018-04-16 15:48] rkratky commented on #233
@mishaone Not sure if this can be of any use but adding for reference: https://docs.google.com/document/d/1PRKPlg9zOgG9Eu5GZr96GCADPhPnLwZte0jkVx5q3KQ/

[2018-04-18 07:51] rkratky commented on #199
@velias @alexeykazakov Does this need to be tracked here, or has it been resolved?

[2018-04-18 07:53] rkratky commented on #196
@Preeticp I understand the concepts have already been documented. Perhaps we should change the title and description of this issue to make it only about the 'why'?

[2018-04-18 08:00] rkratky opened #274 "Status drop-down going away"
The status drop-down has been removed. Docs need to be updated to reflect that. AFAICS, this mainly means removing section "3.2. Confirming Che and Jenkins status" from the GSG and all references/links to it.

See https://github.com/openshiftio/openshift.io/issues/3165 for reference (close the issue when this is closed).

[2018-04-18 08:15] rkratky opened #275 "Che docs for UG"
@mishaone @Preeticp Do we have anything about Che in the UG? I don't think we do, which seems like a gap. We talk about Che in the GSG, but this part is missing from the UG. I think at least basics should be covered. Something like:

1. Working with _(Using?)_ the Che IDE
1.1 About Eclipse Che
1.2 Creating _(and configuring?)_ a Che workspace _(single-sourced from GSG?)_
1.3 Navigating the Che env

[2018-04-18 08:29] mishaone commented on #275
Should be doable, mostly by repurposing the GS Che stuff. If someone will
make an issue for GA and assign it to me, I'll look into it asap.

On Wed, 18 Apr. 2018, 6:15 pm Robert Kratky, <notifications@github.com>
wrote:

[2018-04-18 08:45] Preeticp commented on #196
+1 changed the title. Received review comments for the concepts will be pushing it to the glossary asap.

[2018-04-18 09:03] rkratky opened #276 "Add troubleshooting item about resetting build info"
See https://github.com/openshiftio/openshift.io/issues/2807 for details.

Sidenote: we need to track this sort of stuff (i.e. troubleshooting instructions that are only included until a specific issue is fixed in the app) -- lacking a better idea, please, add a comment in the source code alongside the new item (incl. link to relevant os.io issue).

[2018-04-18 09:47] rkratky opened #277 "Add Che docs to UG"
Add a section/chapter about basic Che usage in OSIO to the UG. See https://github.com/fabric8io/fabric8-online-docs/issues/275 for reference, as well as https://www.eclipse.org/che/docs/

[2018-04-18 09:48] rkratky commented on #275
Closing; continued in #277.

[2018-04-18 09:48] #275 closed

[2018-04-18 15:14] alexeykazakov commented on #199
I don't know if this issue was resolved for @abokth or not. But overall https://github.com/openshiftio/openshift.io/issues/2332 issue is still there. We improved the login flow for accounts with the same email but it's not fixed completely.
Maybe its worth adding a workaround to some sort of FAQ for OSIO. Users can try to use username instead of email while logging into OSIO if they face https://g

[2018-04-18 15:42] rkratky opened #278 "Add troubleshooting note about login"
See https://github.com/fabric8io/fabric8-online-docs/issues/199 for details (_Users can try to use username instead of email while logging into OSIO if they face openshiftio/openshift.io#2332_).

[2018-04-18 23:01] mishaone commented on #222
Removing status indicator: https://github.com/fabric8io/fabric8-online-docs/issues/274

Question now is how to tell when tenant is ready? Do we need to tell?

[2018-04-19 01:05] mishaone commented on #274
Removed the confirming_che_jenkins_status file and images that were only used in it (for tenant status) and removed step for tenant status from cleaning the openshift online module. Builds and validates.

[2018-04-19 01:12] mishaone commented on #274
PR created and merged after testing: https://github.com/fabric8io/fabric8-online-docs/pull/279

[2018-04-19 01:14] #274 closed

[2018-04-19 05:49] mishaone commented on #224
First PR: https://github.com/fabric8io/fabric8-online-docs/pull/280

[2018-04-19 06:13] Preeticp commented on #235
@mishaone I can take this one up. Is it alright with you? Have you already begun work on this one?

[2018-04-19 06:15] mishaone commented on #235
Not yet, @preeticp. Feel free to take it. :)

[2018-04-19 08:49] rkratky commented on #222
@mishaone From what Catherine said, I understand everyone acknowledges that it would be useful to have the status info available, but given the fact the indicator doesn't work, we might as well do away with it (at least for the time being).

[2018-04-19 13:21] #266 closed, assigned to Preeticp

[2018-04-19 18:22] Preeticp opened #283 "Update ID in all API topics as per updated API response"

[2018-04-20 10:06] Preeticp opened #286 "Update reference to MD link and fix the link issue in the WI topic"
Reference:
https://github.com/openshiftio/openshift.io/issues/3065#issuecomment-382305397

[2018-04-20 11:05] Preeticp commented on #286
fixed via #287

[2018-04-20 11:06] #286 closed

[2018-04-20 11:06] Preeticp commented on #283
fixed via #284

[2018-04-20 11:06] #283 closed

[2018-04-21 10:01] jarifibrahim opened #288 "Duplicate entry for term "bug" in infotips.json"
[code]
Please see https://docs.prod-preview.openshift.io/json/infotips.json

[2018-04-22 09:32] Preeticp commented on #288
Thanks @jarifibrahim, the duplicate reference has been removed from the User Guide glossary, by PR #260. The infotips.json will be updated with these as well as the changes brought in through PR #282.

[2018-04-22 11:14] jarifibrahim commented on #288
Thanks @Preeticp

[2018-04-23 05:34] Preeticp opened #289 "Update configuring your Che-workspace"
Eivantsov> some Che stuff that isn't required at all i think.. checking git menu first, then configuring project as maven... looks like troubleshooting when things go wrong.. and afaik project import in Che6 workspace is fine.
https://docs.openshift.io/getting-started-guide.html#configuring_your_che_workspace-hello-world the very purpose of having che-starter in place is to configure project in wo

[2018-04-24 00:02] mishaone opened #290 "document changes to profile/settings"
Document changes to the profile and settings options. This requires updates to screenshots, possibly workflows and definitely modules in both docs.

Details: https://github.com/fabric8-ui/fabric8-ui/pull/2711
reported by @joshuawilson

[2018-04-24 01:11] mishaone commented on #290
Updating to SEV1. Engineering needs docs for this change before the changes can be pushed to prod, so we need to get this done ASAP. Puting the launcher story on hold after merging the changes I have so far for it and switching to this today.

[2018-04-24 05:48] mishaone commented on #290
Created PR: https://github.com/fabric8io/fabric8-online-docs/pull/292

[2018-04-24 08:05] Preeticp opened #293 "Add Docs for Scrum template"
This is currently in Prod preview.

[2018-04-24 08:48] rkratky commented on #293
@Preeticp Could you please link the related eng/ux issues?

[2018-04-24 13:50] Preeticp opened #294 "Changes requested in Infotips.json"
Divyanshi>
Why is it an array of objects? I think it should ideally be an object with key-value pairs with key being UUIDs and value being the content for infotips. Something like this -
{
  "6cff4ab8-c380-4aa9-9980-17b6f223d181": {
    "term": "alternate dependency",
    "en_EN": "Dependencies recommended by OpenShift.io to replace restrictive licenses or usage outliers."
  },
  "a99bf72a-baf4-43

[2018-04-24 13:57] Preeticp commented on #294
@rkratky if you are fine with these suggestions @divyanshiGupta has offered to raise a PR. wdyt?

[2018-04-24 14:00] divyanshiGupta commented on #294
@rkratky I think the JSON should not be an array of objects but an object with key-value pairs with key being UUIDs and value being the content for infotips. For example :
`{
  "6cff4ab8-c380-4aa9-9980-17b6f223d181": {
    "term": "alternate dependency",
    "en_EN": "Dependencies recommended by OpenShift.io to replace restrictive licenses or usage outliers."
  },
  "a99bf72a-baf4-436e-8095-3955e3

[2018-04-24 14:14] Preeticp opened #295 "Changes to Collaborators section"
As per the kabal session today, Collaborators section could change to Users and Roles. This should be in post I train.
Some of the changes mentioned:
- 3 types of users: Viewer, Contributor and Admin
- Team level authorization limited to a space
- Security groups with system wide permissions etc.
Note all this is merely in discussion phases as of now, and we can expect a lot of churn before they a

[2018-04-24 14:38] rkratky commented on #294
@Preeticp, @divyanshiGupta, I'll fix the conversion script to generate the correct format.

[2018-04-24 15:27] Preeticp commented on #293
Discussion docs: https://docs.google.com/presentation/d/18xKQmkf3UKlGoP7qLqUnrIYiflza674n_paUZXKuepA/edit#slide=id.g3758dca8f8_0_53

https://docs.google.com/spreadsheets/d/1iQ3MBitXy5zWAvxWzHQKtXuv5SWs_uUCQvrqngfm5K8/edit?ts=5ab54f17#gid=1844742388

https://github.com/fabric8-services/fabric8-wit/pull/1148#issuecomment-381895791

Currently on prod-preview

[2018-04-24 17:16] Preeticp commented on #231
Please note Launcher flow would now be the default flow if we enable experimental feature, more details here: https://github.com/openshiftio/openshift.io/issues/3285

[2018-04-24 22:09] mishaone commented on #290
Merged and published in prod-preview docs. Some examples of the bigger changes:

* https://docs.prod-preview.openshift.io/getting-started-guide.html#optional_detailed_views
* https://docs.prod-preview.openshift.io/user-guide.html#optin_in_to_features

@joshuawilson - this should be good to push to prod.

[2018-04-24 22:09] #290 closed

[2018-04-24 23:06] joshuawilson commented on #290
thanks

[2018-04-24 23:12] joshuawilson commented on #290
has it been pushed to prod yet?

[2018-04-24 23:32] mishaone commented on #290
@joshuawilson yes, it is now available on docs.openshift.io as well.

[2018-04-24 23:55] joshuawilson commented on #290
ok, thanks
now let's see if I can get the UI to prod

[2018-04-25 10:12] sanbornsen opened #296 "Cross Origin support for infotip JSON file"
Fabric8-ui net is likely to consume the infotip data from [here](https://docs.openshift.io/json/infotips.json), but this api is not cross origin supported.

Solution: Add respective header to allow all origins.

[2018-04-25 19:36] Preeticp commented on #293
This is in prod now umping severity.

[2018-04-25 19:38] Preeticp commented on #237
Now in prod hence increasing severity

[2018-04-26 07:00] mishaone opened #298 "Fix typo in screenshot when typo is fixed in prod-preview"
Correct this typo in one screenshot when fixed: https://github.com/openshiftio/openshift.io/issues/3090
Screenshot is in 7.3. Viewing work items in the user guide

[2018-04-26 07:28] Preeticp commented on #235
WIP now

[2018-04-27 15:10] jmelis commented on #296
Relevant: https://enable-cors.org/server_nginx.html

[2018-04-27 15:12] jmelis commented on #296
This should be added in the Dockerfiles:

- https://github.com/fabric8io/fabric8-online-docs/blob/master/Dockerfile.deploy
- https://github.com/fabric8io/fabric8-online-docs/blob/master/Dockerfile.deploy.rhel

[2018-04-28 14:09] mishaone commented on #277
PR created: https://github.com/fabric8io/fabric8-online-docs/pull/304

[2018-04-28 14:10] #277 closed

[2018-04-28 14:16] mishaone commented on #298
PR: https://github.com/fabric8io/fabric8-online-docs/pull/305

[2018-04-28 14:16] #298 closed

[2018-04-29 09:02] mishaone commented on #234
PR1: https://github.com/fabric8io/fabric8-online-docs/pull/306

[2018-04-29 09:10] rkratky opened #307 "Creating new space screenshots in GSG"
From #openshiftio:

A: Am trying to use openshift3 online for first time. Using openshift.io Getting Started Guide. None of the screen shots match what I see on my screens. Am stuck at https://openshift.io/_home witn no place to go.

B: You are looking section 4 here: https://docs.openshift.io/getting-started-guide.html, correct?

A: There is no way to get to providing an application name.  Follow

[2018-04-29 09:16] mishaone commented on #307
What are the action items here? It's hard to tell exactly what the issue was (more than two pods, OSIO not cooperating, or other?) here. Maybe an initial module in ch 4 that shows the full screen on OSIO and then zooms in on the space instructions? Thoughts, @rkratky?

[2018-04-29 09:39] mishaone commented on #289
Created and merged PR after validating: https://github.com/fabric8io/fabric8-online-docs/pull/308

[2018-04-29 09:39] #289 closed

[2018-04-29 09:40] mishaone commented on #236
Not sure what to do with this one @rkratky. No response from various $(knowledgable evangelist) avenues so far. Maybe set this to post GA *if* we can get some thoughts from people about what the real world touch looks like.

[2018-04-29 10:30] Preeticp commented on #236
@mishaone I discussed it with one of the developers here, as per him, it would need considerable engineering effort for them to provide something like this and they would need nods from the leads and higher folks and he was doubtful if it would be possible before GA.

[2018-04-29 13:00] mishaone commented on #307
@rkratky right, thanks. I'm still inclined to add a "this is what your home screen looks like and then zoom in to creating a space after reading the feedback. It seems like a decent idea whether or not it helps (or was intended) in this actual use case and is easy enough to do.

[2018-04-29 15:52] Preeticp commented on #293
Fixed via #309

[2018-04-29 15:52] #293 closed

[2018-04-29 15:53] Preeticp commented on #237
Draft ready, will create PR but put it on hold till I get a tech review from the devs.

[2018-04-29 16:14] Preeticp commented on #288
This has been fixed via #301

[2018-04-29 16:14] #288 closed

[2018-04-29 18:30] Preeticp commented on #231
WIP

[2018-04-30 10:00] Preeticp opened #311 "Update scrum screenshots once icons for the WITs and States are updated"
Reference:
Mail in Planner ML 'Icons (CSS font style) for Scrum & Agile space templates'
https://redhat.invisionapp.com/share/WJGSJ17SMHN#/290540724_Scrum_Based_Icons
https://redhat.invisionapp.com/share/WJGSJ17SMHN#/290540725_States_Icons
Also fix:
'In the work item list, click the (+) icon adjacent to the Epic for which you want to add a child Feature. The in-line Add Child Work Item pane is dis

[2018-04-30 12:27] rkratky opened #312 "Fix deploy script for local serving of docs"
Following the switch to nginx (https://github.com/fabric8io/fabric8-online-docs/pull/297), local serving of docs doesn't work.

[2018-04-30 12:40] #312 closed

[2018-04-30 12:53] piyush1594 commented on #296
Hey,

Maybe this can help Adding a file like this https://github.com/shakyShane/nginx-cors-plus/blob/master/default.conf and then copying this file in your nginx container https://github.com/shakyShane/nginx-cors-plus/blob/master/Dockerfile#L3 to enable cors

I am not sure but I think this can resolve. Apologies in advance if it does not help I have not tried it.

[2018-04-30 14:59] #296 closed

[2018-04-30 15:06] #311 closed

[2018-04-30 15:34] #256 closed

[2018-04-30 15:38] rkratky commented on #312
@Preeticp @mishaone This is what I wanted to mention during our mtg: local deploy of docs through containers was broken following the migration to nginx.

It's now fixed, but the URL where docs are locally served has changed to http://127.0.0.1:8080/

[2018-05-01 06:51] mishaone commented on #278
PR: https://github.com/fabric8io/fabric8-online-docs/pull/319

[2018-05-01 06:53] #278 closed

[2018-05-01 06:54] mishaone commented on #307
Are we okay with using this issue to track the before we start sort of homepage introduction we discussed?

[2018-05-01 07:02] rkratky commented on #307
+1

[2018-05-02 06:34] Preeticp commented on #232
Removing this issue from GA milestone, this will not be part of internal features for GA. However the Dev team will be creating a video for the summit hence need to create UX content for them by today eod. Working on that now.

[2018-05-02 07:58] Preeticp opened #321 "Streamline flow of UG to make it more user friendly"

[2018-05-02 23:59] mishaone commented on #307
Update:
```@misha -- I finally got it working, not sure what I did differently to make it happen, maybe used my startup account rather than pro. But it did eventually work on pro too.```

[2018-05-03 05:10] mishaone commented on #307
PR: https://github.com/fabric8io/fabric8-online-docs/pull/323

[2018-05-03 05:26] mishaone commented on #307
Updated and available here: https://docs.prod-preview.openshift.io/getting-started-guide.html#introduction_to_homescreen

Hopefully this provides some context to start with for users about what they should be seeing when they first log in.

[2018-05-03 05:27] mishaone commented on #307
IMO this should be ok to close. Please reopen if more work is required.

[2018-05-03 05:27] #307 closed

[2018-05-03 05:29] mishaone opened #324 ""before you start" module in GS doc"
- update information about 2 pod limit and using openshift online rather than pro

[2018-05-04 05:36] mishaone commented on #324
PR: https://github.com/fabric8io/fabric8-online-docs/pull/331

[2018-05-04 05:36] #324 closed

[2018-05-04 06:44] Preeticp commented on #237
Closed via #317

[2018-05-04 06:44] #237 closed

[2018-05-04 06:47] Preeticp commented on #231
fixed via #320

[2018-05-04 06:47] #231 closed

[2018-05-06 04:41] Preeticp opened #339 "Jmelis: I think this is out-dated: https://docs.openshift.io/getting-started-guide.html#changing_quickstart_code-hello-world"
More context on MM OSIO channel

[2018-05-06 04:43] Preeticp commented on #339
From OSIO MM channel:
@maxandersen I'm going through the quickstart and I noticed something strange. I changed the code in the che workspace, pushed to origin, saw the pipeline rebuild, but the staging url does not show the changes. Is there a way to tell the commit that was used to build the image?

alexey profile image
alexey
2:36 AM
try again. Most likely the new version didn't start yet

2:37

[2018-05-06 05:26] jmelis commented on #339
@Preeticp this is what I did:

* In the Choose a mission section, select the Externalized Configuration option.
* In the Choose a runtime section, select Eclipse Vert.x.

Is this what you are asking? I tried with a new app and the code is the same, which does not exactly match the description in the quickstart, in particular the [5.13. Changing the quickstart code](https://docs.openshift.io/gettin

[2018-05-06 05:27] Preeticp commented on #339
Thank you @jmelis we will test this and update the instructions accordingly.

[2018-05-06 05:28] jmelis commented on #339
As you can see, the following snippet is not found [here](https://github.com/jmelis/app-test-9/blob/master/src/main/java/io/openshift/booster/HttpApplication.java):

[code]

[2018-05-06 05:28] jmelis commented on #339
Thanks @Preeticp !

[2018-05-06 06:32] Preeticp opened #340 "Doc build failing since yesterday night"
Unable to update docs in Prod/prod-preview.
Raised with SD team, here is the gist:
shoubhikbose
11:15 AM
1
docs build failure as notified by @preeti .

[0m[91mError:
 Problem: package rubygem-asciidoctor-pdf-1.5.0-0.2.alpha.13.fc26.noarch requires rubygem(prawn-templates) >= 0.0.3, but none of the providers can be installed
  - conflicting requests
  - nothing provides rubygem(pdf-reader) < 2 ne

[2018-05-06 06:34] Preeticp commented on #340
Update: akonarde
12:01 PM
3
@preeti a local build does fail for me

12:01 PM
With the same error, specifically its failed dependencies for the rubygem-asciidoctor-pdf package

[2018-05-06 07:14] Preeticp commented on #340
Build passing fine after merging PR #341

[2018-05-06 07:14] #340 closed

[2018-05-06 08:13] Preeticp commented on #321
Fixed via #333, #335 and #338

[2018-05-06 17:25] Preeticp commented on #339
@misha, today got help in getting our docs build to pass and got all our doc changes so far on Prod.

I could not get very far on this issue. However, I have reviewed our docs and tested the steps till section 5.13 and I have noted the following changes required:

1.  I can validate what Jmelis mentions here, we no longer have the the string: protected static final String template = "Hello, %s!" i

[2018-05-07 01:27] mishaone commented on #339
Testing this now to find an alternate path. @rkratky - is there some discussion we can do with the quickstarts team regarding them informing us when they change the contents of the quickstarts to make our instructions outdated? I updated the che6 content a while ago and everything worked as it should.

[2018-05-07 04:49] mishaone commented on #339
PR: https://github.com/fabric8io/fabric8-online-docs/pull/342

[2018-05-07 05:07] mishaone opened #344 "Replace UTC time in docs build with how long ago"
This is just IMO, but it would be a lot more useful if we could say something like "Last Build: X hrs/min ago" instead of the current information, which is UTC.

[2018-05-07 05:11] mishaone commented on #339
Should be fixed. Asking Robert to push update asap.

[2018-05-07 05:11] #339 closed

[2018-05-07 05:15] mishaone opened #345 "misc feedback for getting started doc"
Branched off from https://github.com/fabric8io/fabric8-online-docs/issues/339#issuecomment-386895808

References to 'add to space' on dashboard to start application launcher, needs to be changed to Create an Application
5.3>8b, when I click view new app it takes me to the dashboard, we need to tell user where to go next. Space dashboard has changed no longer shows the Pipelines view, we have scree

[2018-05-07 05:26] Preeticp commented on #339
+1 to discussions with Che quickstart team.
The UX team had started to keep us in loop but I am surprised certain key connecting pieces such as change in name of 'add to space>Create an Application' was not conveyed.
In general, all teams need to keep the docs team in loop.

[2018-05-07 05:31] mishaone commented on #339
There's really no other way except for us to be constantly testing the docs from beginning to end (which is an obviously wasteful exercise). If something in the UI changes, I'd propose a tag or something equivalent to "docs_impact" in BZ, ideally when the change is visible in prod-preview at least so we can guage the impact for that change and make the appropriate changes.

[2018-05-07 06:10] mishaone commented on #345
I fixed the button text, added a homepage after hello world creation screen so people know what they should see. The pipelines one I had already fixed in the previous PR since I spotted it as I went through the steps. Fixed internal features and did not add a link to the user guide since there wasn't a module about what each of these levels is about (probably should be, will create an issue for la

[2018-05-07 06:15] Preeticp commented on #345
There are 2 parts in the section, second section, first step.

[2018-05-07 14:18] Preeticp opened #347 "Cover Resources Section in Settings"

[2018-05-07 14:49] Preeticp opened #348 "Content on OSIO login page has changed, update docs if required."
This is wrt: https://github.com/openshiftio/openshift.io/pull/3420
https://github.com/openshiftio/openshift.io/pull/3420/files
Afaik, most of the content is covered, but yet creating this issue to cross check if we have missed out on anything

[2018-05-07 16:34] Preeticp commented on #348
Was blocking release of logging page for UX. Updated intro sections where relevant and pushed: https://github.com/fabric8io/fabric8-online-docs/pull/349

[2018-05-08 03:17] #345 closed

[2018-05-08 04:14] #348 closed

[2018-05-08 05:39] Preeticp opened #350 "Cover naming requirements for App Name"
https://github.com/openshiftio/openshift.io/issues/3391#issuecomment-387285300
https://github.com/fabric8-ui/fabric8-ui/pull/2876

[2018-05-08 06:58] Preeticp commented on #350
Closed via 351

[2018-05-08 06:58] #350 closed

[2018-05-09 03:31] mishaone commented on #234
Tested this today and hallelujah, it works! WIP after I finish the IS stuff.

[2018-05-09 07:08] Preeticp opened #354 "Add opt-in beta feature for planner in GS and update UG settings section with latest UX changes."

[2018-05-09 10:55] Preeticp opened #355 "Potential trouble shooting content?"
hi guys

I'm trying the getting started guide

and got stuck at the step where it pushes the commit to github

it doesn't have my SSH key

I tried to give it using the preferences, but apparently that wasn't enough

also, the nice github button for using OAuth to create a new key and upload it didn't work

is that normal ?

eivantsov profile image
eivantsov
3:27 PM
are you talking about Che IDE?

[2018-05-09 16:17] Preeticp opened #357 "Update steps and links in adding_github_org module."
https://github.com/openshiftio/openshift.io/issues/3525

[2018-05-09 16:28] Preeticp commented on #357
I was able to figure out the workaround and help the dev to fix the issue he was facing. Updating docs now.

[2018-05-09 16:45] Preeticp commented on #357
Closed via 358

[2018-05-09 16:45] #357 closed

[2018-05-09 16:46] Preeticp commented on #354
Fixed via #356

[2018-05-09 16:46] #354 closed

[2018-05-15 00:44] mishaone opened #360 "docs analytics?"
I wondered if it would be possible to set up some analytics for our docs so that we can get an idea about things like:

* Where are users for our docs coming from?
* What links are they clicking most i.e. what is the most useful content at the moment, link it to features in development to gauge what would be useful to document next.
* What amount of time do they spend on various docs/modules. Lowe

[2018-05-15 06:40] mishaone commented on #347
Is this help wanted, @Preeticp? I can take it if it is.

[2018-05-15 06:49] Preeticp commented on #347
Please feel free to take it @mishaone. I noticed it before Summit and at the time we had more pressing things to do.

[2018-05-23 06:03] mishaone commented on #347
https://github.com/fabric8io/fabric8-online-docs/pull/362

[2018-05-23 06:03] #347 closed

[2018-05-25 05:31] mishaone commented on #276
PR: https://github.com/fabric8io/fabric8-online-docs/pull/364

[2018-05-25 05:46] #276 closed

[2018-05-25 07:00] Preeticp opened #365 "Update the logo on the docs.openshift.io site to use the OpenShift.io logo"
@mindreeper> Update the logo on the docs.openshift.io site to use the OpenShift.io logo, rather than the Red Hat Developer Program logo.
https://github.com/openshiftio/openshift.io/issues/3611

[2018-05-25 10:49] Preeticp opened #366 "Review Glossary"
Oxford comma missing from a concept

[2018-05-25 15:54] rkratky commented on #360
@joshuawilson, @maxandersen - as briefly discussed during the Program call, could you please advise how to go about this?

[2018-05-28 07:43] Preeticp opened #368 "Streamline UG Area and collaborator section"
1.  Sections '6. Working with collaborators' and '9. Working with areas sections' should be together, since it comes before Plan tab, probably before section 7. Working with work items
Also reuse assigning WI and associate with Area modules instead of repeating the same.

[2018-05-28 07:48] Preeticp opened #369 "CLI instructions for viewing OC resources can be added to UG"
We had a section with CLI instructions for viewing OC resources and build stuff. This was in addition to GUI steps in GS. We removed it in GS but did not add it in the UG. To avoid repetition of instructions maybe one of the guides could have CLI the other GUI instructions. What do you all think?

[2018-05-28 07:50] Preeticp opened #370 "'Optimize resource usage' section needs to be part of UG too or provide links to GSG"

[2018-05-28 07:52] Preeticp opened #371 "Advanced Che instructions need to be part of user guide too or linked to GS"

[2018-05-28 07:54] Preeticp opened #372 "Remove sections referring to opt-in feature in GS and link to user guide."
Planner(5.2.1. Opt-in to beta features) and Optional views(5.9. (Optional) Detailed views).
It diverts the GS flow. Also, this would help planner section focus on the planning part and 5.9 would be merely one step which could be added to the relevant preceding or next module.

[2018-05-28 07:58] Preeticp opened #373 "Codebase section in GS needs to be placed where relevant"
Section '5.7. About codebases' not appropriately positioned in the doc, should come before '5.3. Creating a new project', it should establish context for '5.3' and 'chapter 10' (Importing an existing project from GitHub).

[2018-05-28 08:03] mishaone commented on #373
I was actually thinking it may be worth adding all the concepts at the end, as a sort of glossary and linking to them in the text to negate the issue of breaking the flow with concepts . WDYT?

[2018-05-28 08:04] Preeticp opened #374 "Modules 'Viewing your project in GitHub' and 'Viewing projects in OpenShift Online' blurs the distinction between the product feature Analytics and generic analysis which a user must do"
1. Section 'Viewing projects in OpenShift Online' should ideally be the introduction for chapter 6 before section '6.1. Reviewing the resource information in OpenShift Online'

2. Section '7.3. Viewing your project in GitHub' should be before the section '5.16. Reviewing and publishing your changes' as it seems that's the flow a developer would naturally follow.

[2018-05-28 08:06] Preeticp opened #375 "Resources section in OSIO needs to be highlighted in GS or atleast linked to the UG section"
Section '6. Optimizing your memory usage' needs to be modified to highlight first the resources section in our Product before diverting users to OC

[2018-05-28 10:05] Preeticp commented on #369
Since we decided to go ahead with the existing GUI instructions in the meeting today, closing this issue.

[2018-05-28 10:05] #369 closed

[2018-05-28 13:21] maxandersen commented on #360
my notes stated @qodfathr said he had some ideas on how to use the adobe analytics in place rather than woopra/segment;
my proposal would have been to just add google analytics tracing - thats known to work for docs.

[2018-05-29 04:38] mishaone opened #376 "Propose "break up" of GSG content into smaller user stories"
Propose at least two user stories made up of the GSG content and ask for input from the rest of the team

[2018-05-29 07:27] mishaone commented on #249
Created PR: https://github.com/fabric8io/fabric8-online-docs/pull/377

[2018-05-29 13:57] #249 closed

[2018-06-01 03:36] Preeticp opened #378 "Update profile overview page changes in UG"
https://github.com/fabric8-ui/fabric8-ui/pull/2777
feat(new-profile): new profile overview and update page design implemented #2777
Explore if this affects GS too.

[2018-06-01 09:01] #321 closed

[2018-06-04 06:49] Preeticp opened #380 "Define terms Codebase, Application and Project clearly in the glossary and update the docs accordingly."
Currently the 3 concepts are not clearly delineated, their relationship is not clear and in a lot of places we use Projects and Application as synonyms.

[2018-06-04 08:15] mishaone commented on #380
What exactly is the distinction we want to make? It's a quickstart project while we create it and then when we run it, it becomes the application?

[2018-06-04 08:39] mishaone commented on #376
Proposed (editable) doc: https://docs.google.com/document/d/1FdSmibjDx_WigJ_xl_KxESrl42uq4MkZ2roUpON1Bjw/edit?usp=sharing

[2018-06-04 10:22] Preeticp commented on #380
Afaiu, OSIO enables an user to create a new Application by using OSIO provided (vertx, Springboot, etc.) starter codebases(source code) or import an existing codebase the user already has.
Imho, in OSIO, the term 'Project' should be used to cover the entire development project which covers all the services provided by OSIO, right from Planning, deploying, analyzing to testing.
I know we use 'Proje

[2018-06-05 05:15] Preeticp commented on #378
Fixed with #379

[2018-06-05 05:15] #378 closed

[2018-06-07 05:52] mishaone commented on #376
Updating the splash page with new assemblies to get feedback. Asked Robert about a repo structure question before I go fiddling with it myself.

[2018-06-08 11:43] Preeticp commented on #232
Added to prod-preview this week, saw a demo, currently being stabilized and ironed out, will paste link once they are shared.

[2018-06-12 05:13] mishaone commented on #360
@rkratky are you comfortable taking ownership of this, whether it's to follow up on the analytics at a later date or close it if unnecessary?

[2018-06-12 05:14] mishaone commented on #355
@Preeticp can you summarize what you know about the requirements for this issue that we also support? If we don't know this, maybe we need to tag someone to clarify what we need to document for this issue.

[2018-06-12 05:15] mishaone commented on #344
@rkratky this sounds like it should be up your alley. It's just a suggestion and low priority. can you take ownership for some point in the future or close it?

[2018-06-12 05:17] mishaone commented on #295
@Preeticp are you okay to take ownership of this?

[2018-06-12 05:42] mishaone commented on #372
I'm not sure redirecting to a different doc to opt into beta features is the way to go. It seems like more of a derailment. @rkratky @Preeticp WDYT

I would say that I think 5.2.2 looks a bit fuller than most of the modules. Perhaps we can trim down on it and reduce the screenshots or make them more targeted? At the moment, it feels like each step has nearly a full screen screenshot. Thoughts?

[2018-06-12 06:08] Preeticp commented on #295
As of now, I am not covering Auth, I thought you were @mishaone. Either ways, I can take the ownership. Eventually this issue, most likely, would need to be split into multiple smaller issues dealing with different services at which point I might need help, depending on my backlog.

[2018-06-12 06:15] mishaone commented on #295
Yep, I'm covering whatever is needed, @Preeticp but since you reported this change, I thought you might be the best person to keep an eye on it. I can take it on if you don't have the bandwidth.

[2018-06-12 06:38] Preeticp commented on #295
Sounds good, will assign myself. Afaik, it is to be still implemented, so will try to pick up/limit issues keeping this in mind around the time it will be implemented.

[2018-06-12 06:46] mishaone commented on #295
Great, thanks! If you find you don't have the bandwidth when there is something actionable for this or any other issue, please do just pass it on or use the help wanted tag.

[2018-06-12 06:55] Preeticp commented on #372
We discussed covering prod plus one level, which would be Beta level, if we do that, section 5.2.1 would be moot.
That leaves us with section '5.9 (Optional) Detailed views'. I feel the opt in feature should be covered in a separate section like it is in the User guide: [Changing user preferences](https://docs.openshift.io/user-guide.html#changing_user_preferences), right at the start of the guide

[2018-06-12 07:28] Preeticp commented on #355
@mishaone here's the summary:
Normally, GitHub token is added to your account when you authorize the app. However in this case, user's ssh key was unknown to Che work space initiated by OSIO. Hence he was unable to push from the Che work space.
Error seen: (Not sure if these are the exact words) Can't push from che
This may be because you have not setup SSH keys or oAuth.
Check the documentation f

[2018-06-12 08:37] rkratky commented on #344
@mishaone I saw this when you opened it but forgot to respond.

This is nontrivial. It would require some client-side execution of a script (to determine current time when the page is loaded by the user). I understand it would be nice, but I also think it's bit of an overkill for us now.

Would conversion of the time from UTC to, say, GMT be an improvement?

[2018-06-12 09:05] mishaone commented on #344
No worries, it was just a suggestion. I thought the work required would not
be complex, like a currenttime value minus buildpublishtime value. If the
work required is non-trivial, we should definitelyclose it since we have
plenty of other higher priority things to work on instead.

On Tue, 12 Jun. 2018, 6:37 pm Robert Krátký, <notifications@github.com>
wrote:

[2018-06-12 09:19] rkratky commented on #344
Yeah, that's the thing: you can't get 'currenttime' without running some JavaScript when the user loads the page. The code itself isn't complicated, but I'd rather avoid having JS loading unless necessary.

[2018-06-12 09:19] #344 closed

[2018-06-13 06:36] mishaone commented on #375
PR created and merged since this is a simple change: https://github.com/fabric8io/fabric8-online-docs/pull/381

[2018-06-13 06:36] #375 closed

[2018-06-13 10:47] Preeticp opened #382 "Create docs for the Agile template, existing Scrum template is deprecated"
https://github.com/fabric8-services/fabric8-wit/pull/2109
This triggers a whole lot of changes in docs
- Replace Scrum docs with docs for Agile template. Looks like a lot of new elements are being added.
- Create space screenshot will be affected as user will not be able to select Scrum
- We will need to add Infotips and Glossary terms for Agile template, not sure how much of an overlap will exist

[2018-06-14 21:47] mishaone opened #384 "update profile page instructions and screenshots"
The profile page is updated and contains new things. Update screenshots and instructions as necessary in UG and GSG

[2018-06-15 04:51] Preeticp commented on #368
Fixed with #383

[2018-06-15 04:51] #368 closed

[2018-06-15 06:06] Preeticp commented on #232
This is in prod as an internal feature now, meeting scheduled today/monday to discuss the UX issues I highlighted in the current version.
Question is do we document this even if it is Internal or do we document only Prod-Beta level features? Will be checking this with the Dev too, but @rkratky and @mishaone are we good to follow this understanding?
Mostly we would be able to take this up in Iterat

[2018-06-15 06:19] Preeticp commented on #295
Checked with Dev, slated for around middle of J train

[2018-06-15 06:26] Preeticp opened #386 "[Deferred] Document new Board view in Planner"
Currently the back end is being implemented, expected to be in by end of Sprint 151. So we can target this probably for the J train.
Workflow for both GSG and UG, concepts and info tips will need to be worked on.

[2018-06-15 11:18] Preeticp commented on #295
Presentation link: https://docs.google.com/presentation/d/1doJGnM2OlZVWkD9ETq1dJf8Dyf9CoajZRUx_G0x0VJA/edit?usp=sharing

Blue Jeans Link: https://bluejeans.com/s/Os4mi

[2018-06-15 13:12] Preeticp commented on #384
Changes in screenshots and instructions were addressed through this PR for all the 3 guides: https://github.com/fabric8io/fabric8-online-docs/pull/379 for issue https://github.com/fabric8io/fabric8-online-docs/issues/378.
This was needed to be done urgently as Joshua had pushed these changes to prod and needed the docs to be updated immediately. fabric8-ui/fabric8-ui#2777
feat(new-profile): new pr

[2018-06-18 08:12] #373 closed

[2018-06-18 08:12] #374 closed

[2018-06-19 04:38] mishaone opened #388 "Planning your development work should probably be moved"
I was reviewing the GSG and noticed the planning section is at an abrupt break in the document. The module before it is creating a new space. The one after it continues from the automatic Create an Application screen that appears when you finish making a space, so the abrupt detour to planning doesn't work very well as a user following these instructions.

cc: @Preeticp do you want to work this on

[2018-06-19 06:21] Preeticp commented on #388
We [added this module]( https://github.com/fabric8io/fabric8-online-docs/pull/300) post extensive reviews by you and @rkratky . I really would not label this a bug in that context, seems more like an enhancement.
Can you please elaborate on what exactly do you think we need to do in this case. Having the Planning module at the start creates a connected narrative and provides a context for all the

[2018-06-19 06:31] mishaone commented on #388
It seems abrupt to me because it interrupts the intended workflow. If the OSIO workflow to create a space, plan the work, then create/import a project, then it's odd UX design that the end of the create space wizard immediately launches into the create/import project wizard.

The bug part is just because as I was following the instructions, the sudden planning didn't flow well. I was left with a c

[2018-06-19 06:50] Preeticp commented on #388
Agree on this, we need to do this.

On the intended workflow, I will discuss this with the devs and get back. I feel we would have users who might be interested only in Planning and tracking and those who might want to straight away get to implementation and execution.
Like I said in the GSG context it made sense to have the Planning module at the start as it wove other things like analyzing, redu

[2018-06-19 06:51] mishaone commented on #388
Yes, let's discuss this in person, it will be easier. I just want to make sure we have a smooth workflow for new users so that it doesn't leave them wondering what to do next at any point. :)

[2018-06-19 07:08] rkratky commented on #388
Before I respond, two points:

1) We shouldn't get too hung up any guide's 'flow' -- even in the case of the GSG, which started out as a pretty little bedtime narrative. Let's always assume that users jump around in the doc, don't start from the beginning, and generally ignore all our attempts at guiding them from A to B because they want to read only the absolute minimum to get them going.

2) Li

[2018-06-21 00:14] mishaone commented on #388
The conclusion after our discussion in the OSIO meeting was that we will modify the end/start text in the surrounding modules to transition more smoothly into the planner part. This will be done later, since there will be some changes coming up regarding the planner and using board view in particular in the near future.

[2018-06-22 00:08] mishaone commented on #384
Nope, good to close.

[2018-06-22 00:08] #384 closed

[2018-06-22 01:00] mishaone commented on #360
I'll assign this to @rkratky since he's currently looking into this, to ensure all issues have an owner.

[2018-06-22 01:02] mishaone commented on #388
Are you happy to have this assigned to you, @Preeticp? I want to ensure every task has someone looking after it, even if nobody is working on it for the current sprint.

[2018-06-22 06:06] Preeticp opened #389 "Update troubleshooting section with a link to the FAQ in WIKI maintained by developers"
Link to FAQ: https://github.com/openshiftio/openshift.io/wiki/FAQ
Link to issue in OSIO: https://github.com/openshiftio/openshift.io/issues/241

[2018-06-25 00:31] #370 closed

[2018-06-27 04:40] mishaone commented on #376
Initial PR: https://github.com/fabric8io/fabric8-online-docs/pull/390 [WIP]

[2018-06-27 11:10] #196 closed

[2018-06-27 15:17] Preeticp commented on #295
WIP doc on Auth related permissions in Planner: https://docs.google.com/spreadsheets/d/1ALVEMyI_i5dvOwx_0ChN9WvlyGhHkCwchylje2SrpdQ/edit#gid=0
As per the meeting, Planner is to be a first client for auth.

Auth scopes in OSIO: https://docs.google.com/spreadsheets/d/1THYCKnc91p2wZKAP6VLZVbqF4bPGOOxuF-q-mrs4gXA/edit#gid=0

[2018-06-29 08:02] Preeticp commented on #382
To Do:
- [ ] Document concept topics/Infotips for the new fields introduced through Agile template
- [ ] Document workflow docs. Comment out or remove scrum related information from UG and glossary.
- [ ] Update Space related info and screenshots where relevant.
- [ ] Evaluate if Getting started docs need to be updated with this information

[2018-07-05 10:54] rkratky opened #392 "Set up PR webhook"
Please, set up a webhook to CentOS CI for this repo (or give me maintainer rights to this repo, so I could do it). Here are @riuvshin's notes:

**Add the Github Pull Request Builder webhook**
1. On your Github Project page, choose 'Settings'
2. Navigate to the 'Webhooks and Services' tab
3. Choose 'Add a webhook'
4. Select 'Let me select individual events' under 'Which events would you like to tri

[2018-07-06 00:40] mishaone opened #393 "GS update & review: ch 6-12"
Update and fix writing as necessary.

[2018-07-06 00:40] mishaone opened #394 "GS update & review: ch 5"
This chapter includes 20 modules. Please review, improve the wording where required and test to ensure it's still up to date.

[2018-07-06 00:40] mishaone opened #395 "GS update & review: ch 1-4"
This task should include 8 modules. Please review and update as required and flag someone for review when done.

[2018-07-06 06:53] mishaone commented on #394
I think the planning development work part in particular needs to be trimmed down and made specific to the relevant tasks for this example. If you'd like me to look into that one, I'm happy to swap out one of my modules, just to get someone else to look at it.

[2018-07-06 07:10] Preeticp commented on #394
Yes I think we agreed on it in our last discussion. How about I take a shot at it and get it reviewed by you and Robert? If you are still not satisfied maybe you can take over the module. Is that alright?

[2018-07-06 07:12] mishaone commented on #394
All good. I offered in case you were sick of looking at it and wanted someone else to do it instead. :)

[2018-07-06 07:16] Preeticp commented on #394
Got it :)

[2018-07-09 07:55] Preeticp commented on #355
This was a one time issue reported by one user do we want to document it?
Ooh, deleting existing workspace seems to be useful information imo, we should at least add a line with the link. Wdyt?

[2018-07-09 08:13] rkratky commented on #355
@Preeticp Sounds like a good tidbit for the troubleshooting section.

[2018-07-09 08:22] Preeticp commented on #232
This is still an internal feature, undergoing modifications based on feedback from Dev. Likely to continue and progress to Experimental in the coming sprint and then move to Beta. Currently ask is for UX content, docs can wait till Beta.

[2018-07-13 01:35] mishaone commented on #376
Essentially done, asked Robert for review: https://github.com/fabric8io/fabric8-online-docs/pull/390

[2018-07-13 04:48] mishaone commented on #234
Working in this now.

[2018-07-13 09:05] Preeticp opened #398 "Create new assembly for Resources section (follow up of PR #385)"
As discussed in the meeting, club together 1. general resources info in OSIO, 2. detailed resource info in OC and then 3. cleaning OSIO account, into an assembly such as 'Monitoring your resources'.
Follow up action from PR #385
Also, fix numbering issues with the resources section, refer #385

[2018-07-13 11:48] Preeticp commented on #389
Fixed via #399

[2018-07-13 11:48] #389 closed

[2018-07-13 11:49] Preeticp commented on #371
Fixed via  #399

[2018-07-13 11:49] #371 closed

[2018-07-20 01:04] mishaone commented on #393
Wip now to get this done quickly

[2018-07-23 05:02] #398 closed

[2018-07-23 05:03] Preeticp commented on #366
Done, PR pending final review by Dev lead.

[2018-07-23 05:05] Preeticp commented on #382
PRs for both work flow and concepts have been pushed. Awaiting final confirmation from Dev lead.

[2018-07-23 05:50] kwk commented on #382
@Preeticp can you please link those PRs here?

[2018-07-23 06:17] Preeticp commented on #382
@kwk this is the Agile workflow docs PR: https://github.com/fabric8io/fabric8-online-docs/pull/397
and this is the Concepts one to be added into the glossary and the Json script as per the earlier workflow for infotips: https://github.com/fabric8io/fabric8-online-docs/pull/396

I was planning to mention this in today's daily, I also had a discussion with rkratky wrt the infotips living in the Agil

[2018-07-25 01:51] #376 closed

[2018-07-25 06:00] mishaone commented on #393
PR1: https://github.com/fabric8io/fabric8-online-docs/pull/401

[2018-07-26 07:00] Preeticp commented on #232
Continues to stay experimental and on hold till further notice. Removing from the milestone.

[2018-07-26 07:01] Preeticp commented on #386
Likely to hit prod-preview only in the next sprint. Removing it from this milestone.

[2018-07-27 16:34] Preeticp commented on #394
1st [PR](https://github.com/fabric8io/fabric8-online-docs/pull/402)

[2018-07-30 06:39] mishaone commented on #393
PR2: https://github.com/fabric8io/fabric8-online-docs/pull/403

[2018-07-31 03:50] mishaone commented on #393
PR3: https://github.com/fabric8io/fabric8-online-docs/pull/404

[2018-08-01 06:46] #366 closed

[2018-08-01 06:54] Preeticp commented on #382
Closed via #396 and #397

[2018-08-01 06:54] #382 closed

[2018-08-02 08:46] Preeticp commented on #395
Please note the entire chapter 4 is based on an experimental feature. User do not see this screen when they are Beta, this section needs to be updated accordingly.

[2018-08-06 09:43] mishaone opened #406 "[after review+update] streamline GS workflow to be minimalistic"
This means probably move out the debugging stuff and anything else that is more advanced to streamline the GS doc workflow to be quick, efficient and present a quick path to openshift.

[2018-08-13 09:42] rkratky opened #409 "Add a Github ribbon to docs to encourage PRs/issues"
A ribbon/button/whatever should be added to docs, so that ppl are encouraged to submit issues and/or PRs when they find mistakes in docs.

[2018-08-14 03:59] mishaone commented on #394
2nd PR: https://github.com/fabric8io/fabric8-online-docs/pull/408

(adding so that this turns up as work done this week for scrum of scrums

[2018-08-20 10:39] tisnik opened #410 "Update OpenShift.io Analytics Integration API Guide to reflect all changes and improvements made in the API"
The following API Guide needs to be updated:
https://docs.openshift.io/analytics-integration-api-guide.html

Issues:
3.2.6. Example response
- the response format, schema, and meaning of values are not described
- some values (`usage_outliers`) are empty so consumers of the API won't know what expect
- special values needs to be described (where to expect `N/A`, -1 etc.]

3.3.6. Example response
-

[2018-08-20 10:58] Preeticp commented on #410
@tisnik the docs team would need inputs for these parameters from some one in the Analytics team. @miteshvp, @samuzzal-choudhury, what would be the best way to go about this?

[2018-08-22 04:33] mishaone commented on #393
PR4: https://github.com/fabric8io/fabric8-online-docs/pull/412

[2018-08-23 05:56] mishaone commented on #393
PR5: https://github.com/fabric8io/fabric8-online-docs/pull/413

[2018-08-29 08:02] Preeticp opened #415 "Content for the smaller use cases"
Question: Are we going to have the same content in it as the GS or would it cover other features of OSIO too?
Suggestions, open for discussion:

1. We can have a higher heading called GS and below it Creating an app and Importing an App could be the main subheadings. These probably should be our primary emphasis points.
- Question: Spring boot would be our main focus, do we also want to add a sect

[2018-08-29 08:33] Preeticp opened #416 "Look and feel of the Use cases/landing page"
I was wondering if a 2 column approach makes sense instead of the current list of all docs. The main focus area which as per my brief discussion with the UX team member is the left of the screen. (See [more](https://vanseodesign.com/web-design/3-design-layouts/))
The left column could have the Use cases and we could have the comprehensive guide and the docs for project contributors to the right. T

[2018-08-29 08:46] Preeticp commented on #365
The tabs in the browser for our guides do not show the logo as they do for OSIO and the Old GS guide. (the last 2 tabs in the image below) Let me know if this should be a separate issue.
![screenshot from 2018-08-29 14-08-11](https://user-images.githubusercontent.com/16647625/44776393-a1ede780-ab95-11e8-9b37-e87173d5e918.png)

[2018-08-29 08:55] Preeticp opened #417 "Thorough review of user guide as a whole"
The User guide has not undergone a holistic review so far.
We need to split the guide among us and do a thorough review of the same as we are doing for the getting started now.
There are 2 cases where I feel this is relevant:
1. We will need to use parts of it for the smaller Use cases.
2. We need to consider the possibility of using it for Context sensitive help, in case we need to deliver it.

[2018-08-29 11:47] rkratky commented on #417
Unassigning myself and Preeti. @mishaone, could you please DPM this and file separate issues (assigned to indiv. writers) for the indiv. review tasks?

[2018-08-29 11:50] rkratky commented on #416
I'm for experimenting with the 2-col approach. Low priority though.

As for the new layout that the UX was working on -- I'd be happy to let them take over the whole design part, but they never finished their proposals. If ever they feel like owning this, they get my vote.

[2018-08-29 11:51] rkratky commented on #365
Dupl. of #160.

[2018-08-30 07:44] Preeticp commented on #388
Closed via #408 and #411

[2018-08-30 07:44] #388 closed

[2018-08-30 07:45] Preeticp commented on #372
Closed via #408 and #414

[2018-08-30 07:57] Preeticp opened #418 "GS should have mention of setting feature flag to Beta"
As the GS doc covers Beta and Prod features of OSIO, the Introductory section should mention this information. We could either have a couple of lines with a link to the User guide which has a detailed section on it, (since we are trying to keep the GS focused on the App creation, deployment and editing parts) or we have a ready module with instructions on this which can be added to the assembly.

[2018-08-30 08:27] #372 closed

[2018-08-30 11:30] Preeticp commented on #365
Reopening, as the main issue is about updating docs with the OSIO logo instead of the Developer one used currently. The favicon issue I commented on in the previous comment is a duplicate of #160

[2018-09-03 08:14] mishaone commented on #393
Last PR: https://github.com/fabric8io/fabric8-online-docs/pull/419

[2018-09-03 08:14] mishaone commented on #417
I'll do that and close this task (probably after the minimalism session so that we don't need to do this twice).

[2018-09-03 08:16] mishaone commented on #417
@Preeticp actually I'm already tracking the minimalism review and subsequent action items in JIRA and will create issues here after that, so this is not really necessary. I would suggest making separate issues for the two additional items lumped in here with the review (breaking into smaller use cases and context sensitive help). We can create the former later after review, the latter I have no id

[2018-09-03 08:56] Preeticp commented on #417
@mishaone the idea earlier was to reuse the modules in User guide for context sensitive help too. Since this is still in the back log, I would suggest that when we do the smaller use cases or modifications to the User guide, we bear this in mind. As of now, we could use your review follow up issues. Also we have an issue tracking the smaller use cases we need in addition to existing ones in place:

[2018-09-03 09:11] Preeticp commented on #415
@mishaone the list above are my suggestions and this issue is primarily a discussion issue. (We may want to wait on the Planner a bit though).
Currently, I am unable to see the existing break up of content yet. I was waiting to see it to get a better idea about the existing plan.

[2018-09-03 09:17] Preeticp commented on #394
3rd PR: #414

[2018-09-03 16:23] rkratky opened #420 "404s on the landing page"
Landing page docs links are invalid.

[2018-09-04 23:32] mishaone opened #421 "Docs page branding should match OSIO branding"
I noticed the docs landing page (docs.openshift.io) has Red Hat Developer branding instead of OSIO branding. This is low priority since the branding may change in the future but it should reflect whatever the branding is on the openshift.io page (or new URL, as the case may be). Assigning this to Robert since this probably something he can help with.

[2018-09-05 07:15] rkratky commented on #421
Duplicates #365 & #219.

[2018-09-05 07:15] #421 closed

[2018-09-11 12:56] Preeticp commented on #394
4th and final PR: #424
This completes the review and updates for Chpt 5.

[2018-09-11 12:56] #394 closed

[2018-09-14 10:44] Preeticp commented on #417
Reopening this issue. I think a top level review to identify content which can be reused from here for the smaller use cases issue is required.
I will also check with the team here if we can get it reviewed in one of the minimalism review meetings.

[2018-09-19 06:57] Preeticp commented on #380
This has been addressed via PRs addressing Issues #394 #393 as part of the GSG review.

[2018-09-19 06:57] #380 closed

[2018-09-19 07:03] Preeticp commented on #395
@rkratky have you begun work on this? If not, I can work on this before moving on to the User guide review. We will need to include another (existing) module or at least mention that this doc covers only beta and prod features of OSIO #418

[2018-09-20 09:51] rkratky commented on #395
@Preeticp I have not started work on this beyond suggesting the structure.

[2018-09-20 10:14] Preeticp commented on #395
Cool, I will start working on this @rkratky so that we can finish the GSG before moving on to the smaller use cases and User Guide.

[2018-09-26 12:15] Preeticp commented on #232
This work has been shelved for the moment by the developer team. Closing this issue post discussion with team. Will reopen when it is taken up again.

[2018-09-26 12:15] #232 closed

[2018-10-01 09:16] Preeticp commented on #212
Based on discussions with the Dev (Deploy team) this is not an issue anymore and was resolved sometime back. Also going to jenkins.openshift.io and waiting there is the same as waiting on the Pipelines page, there is nothing further that the user can do after going to the page to move Jenkins out of the idle state.  Closing this.

[2018-10-01 09:16] #212 closed

[2018-10-01 10:07] Preeticp commented on #222
This is well documented in the GS

This is something I am following up with Platform devs, once we get the info as to what the Update tenant on UX currently does, we might need to check with Joshua if this needs to be documented. Based on discussions here: https://github.com/openshiftio/openshift.io/issues/2307 they were talking about removing it.

No

This has been removed, see: https://github.co

[2018-10-01 10:20] Preeticp commented on #416
Spoke to Muru, as of now they are majorly into revamping the whole of OSIO UX. So we are on our own for now. As an aside, they are doing something like context sensitive help, as in if a user is creating an App, he will be shown the defn of Codebase on the right with a link to see more info which would link to the relevant sections of our guide.
So I will be focusing more on the content for the sm

[2018-10-01 13:28] Preeticp commented on #386
Though we can see the Board view on Prod, WITs are not seen on it due to a pending PR. Once that is in, this would be ready to be documented.

[2018-10-09 06:37] Preeticp opened #429 "Document Smart Query in Planner once implemented"
https://openshift.io/openshiftio/Openshift_io/plan/detail/383
Query tab will need docs to describe the:

1. UX (GSG+UG)
2. Query language/syntax (UG+contextual), the latter might also be linked to the UX as a quick help for users.

[2018-10-09 06:49] Preeticp commented on #219
This issue, #365  and #160 should be put on hold for now.

[2018-10-09 08:54] Preeticp opened #430 "Document changes in Planner once they are implemented"
Ability to:
Change the WIT(implemented)
Delete WI (IP)
Create WI from the Links section(IP)
Rename WI fields (or add more fields?)(IP)
As per: https://openshift.io/openshiftio/Openshift_io/plan?q=(typegroup.name:Execution%20$AND%20iteration:bcfb025c-a3c2-4578-a570-9a75c204845a%20$AND%20area:00682c61-905a-49b8-8f6f-0a90fb335aab)&showTree=true

[2018-10-09 11:25] Preeticp opened #431 "Update home screen screenshot in GSG"
The black banner and carousel have been removed from the home screen, this needs to be updated in the GSG: https://docs.prod-preview.openshift.io/getting-started-guide.html#introduction_to_homescreen

See https://github.com/fabric8-ui/fabric8-ui/pull/3361#issuecomment-428040280
POC: Rohit Rai

[2018-10-09 14:29] Preeticp commented on #431
Closed via #432

[2018-10-09 14:31] #431 closed

[2018-10-09 15:21] Preeticp commented on #115
Just saw tentative designs for new UX, I believe the UX for this would be self explanatory, afaiu docs may not be needed, we will need to add at least one screenshot for space creation and app creation, both of which capture the requirements on the screen itself.

[2018-10-10 12:59] Preeticp commented on #115
The new design puts these restrictions right upfront on the UX and docs would have screenshots, hence there is no requirement to add it to the docs. Closing this post confirmation from Joshua.

[2018-10-10 12:59] #115 closed

[2018-10-11 09:49] Preeticp commented on #222
As per the devs, 'update tenant' is a subset of 'reset environment', whenever you reset your environment your tenants are automatically updated. Also as tenants get updated, user's tenants are automatically updated so the end user, most often, does not need to use this. As such this does not seem to warrant any docs. Closing this issue as all the questions seem to be answered.

[2018-10-11 09:49] #222 closed

[2018-10-11 10:20] Preeticp opened #433 "Update screenshots as per change in UX"
AFAIU, https://github.com/fabric8-ui/fabric8-ui/pull/3364 does not affect the content, only the background color of the second level menu options and the screenshots would be updated through other Issues which affect the flow. We can close this once those issues are addressed.

[2018-10-12 07:04] Preeticp opened #434 "Update Collaborator and Area section in UG"
1. Explore if this could be clubbed with some planner sections and created into a smaller modular guide on team collaboration.
2. Link assigning area and collaborator to planning sections instead of repeating them.
 *Discuss* with @rkratky reuse of modules in Assembly of Assemblies, which causes repetition of modules within the same guide, kind of goes against minimalism, right?
3. Update as per c

[2018-10-12 07:29] Preeticp commented on #416
I could not find a way to create a 2 column page layout in Asciidoc. So tried using tables to create a similar look, I have added it to the docs folder for now. Here is the first cut of the same: https://github.com/fabric8io/fabric8-online-docs/pull/428/files#diff-3abae8454389109336e2fcfe8223c61e
Looks like this:
![screenshot from 2018-10-05 16-10-18](https://user-images.githubusercontent.com/1664

[2018-10-12 09:38] Preeticp opened #435 "It can appear as though incorrect WI totals are shown in Planner Backlog"
The filter accurately filters the WIs as per the filter criteria, however the tree view pulls in child WIs too which might not exactly fulfill the filter criteria due to which there could appear a mismatch between the stated number of WIs and the actual number seen in the list.
See: https://github.com/openshiftio/openshift.io/issues/4373

[2018-10-12 12:51] Preeticp opened #436 "Pare down and update Planner section in UG"
Planner section can be trimmed down and needs to be updated:
1. Creating a new WI can be removed. Instead rename Agile module as Creating WIs using the Agile template.
2. The SDD section needs to go after the agile one and can be shortened. Agile likely to become the default template.
3. Modifying WI section need not have so many modules:

   - We will need to have modules for associating with are

[2018-10-12 13:07] Preeticp commented on #417
This Issue mainly needs reordering of modules as follows, based on priority of tasks in OSIO:
1. Space
2. Codebase
3. Pipelines
4. workspaces
5. Analytics
6. Areas and Collaborators (link assigning area and collaborator to planning sections instead of repeating them) *Discuss* with @rkratky reuse of modules in Assembly of Assemblies, which causes repetition of modules within the same guide, kind o

[2018-10-15 11:47] Preeticp opened #437 "Placeholder: Docs for major changes to the workflow, look, and feel of OSIO"
This is a collection of all UX issues addressing major upcoming changes in OSIO shared by Muru from the UX team: https://github.com/openshiftio/openshift.io/issues?q=is%3Aopen+label%3Atrain%2Fjonquil+label%3Ateam%2Fux .
These are UX proposals that are being taken up by Engineering teams and being implemented or going to be implemented. We can use these issues to keep track of their progress, and o

[2018-10-17 11:49] Preeticp commented on #417
#438 1st PR takes care of the introductory paragraphs and reorg of modules in UG

[2018-10-23 15:49] Preeticp commented on #436
1st PR: https://github.com/fabric8io/fabric8-online-docs/pull/439

[2018-10-24 05:46] Preeticp opened #440 "Remove duplicate Getting help and logging issues User story from the build"
Ensure that landing page points to the appropriate user stroy.

[2018-10-24 05:50] Preeticp commented on #434
Check with @shoubhik on how [this](https://chat.openshift.io/developers/pl/gb7yqf8nitgpbpcqfneeekoita) affects end users.

[2018-10-24 07:57] #417 closed

[2018-10-24 10:33] Preeticp opened #441 "Update screenshot for mission and runtime"
Create App flow and Import flow changes in Runtime (thorntail)>affects screenshots, check for need for content changes

[2018-10-26 10:17] Preeticp opened #446 "Document Che dashboard and test and update the existing Che sections(https://che.openshift.io/dashboard/#/)"
Context:
che.openshift.io
(https://che.openshift.io/dashboard/#/)

From sass ml:

bit.ly/che-workshop (bit.ly/che-workshop).
Mario: I think the front door should be https://www.eclipse.org/che/. We already have a getting started section but nothing about che.openshift.io yet. We should probably integrate that (bit.ly/che-workshop)google doc in the official documentation page.
We also have a couple

[2018-10-30 06:29] Preeticp commented on #436
2nd PR: #445
This leaves the modifications to WI part, point 3, point 4 has been taken care of

[2018-10-31 06:39] Preeticp commented on #441
Closed via #447

[2018-10-31 06:39] #441 closed

[2018-11-08 09:11] Preeticp commented on #437
Immediate changes prioritized from the above for now: https://openshift.io/openshiftio/Openshift_io/plan/detail/779

[2018-11-09 11:55] #420 closed

[2018-11-13 11:28] Preeticp opened #451 "Add another commented out definition for work items in glossary"
The current existing definition for 'work item' does not show up as info tip for the Agile template, hence we need to add another commented out definition for 'Work Items' as a work around for it to show up as an infotip.

[2018-11-13 12:09] #451 closed

[2018-11-23 07:20] Preeticp commented on #434
https://github.com/fabric8io/fabric8-online-docs/pull/453 takes care of points 2 and 3 above.

For point 2 : Assigning wi to a collaborator has been unified into a single module using conditionals and secondary attribute.

To do:

1. Assigning WI to an Area needs to be unified as above.
2. A shorter assembly for team: with collaboration and area topics
Once auth comes in we can add that too in thi

[2018-11-23 10:33] Preeticp commented on #410
@samuzzal-choudhury, @invincibleJai, @siva, As per discussions in today's meeting: https://bluejeans.com/s/fki@A

1. We need to create another doc with the 3 scale integration method for internal and external users
2. The current OSIO cook book remains, except for changes in the cURL and responses that need to be updated.

[2018-11-26 07:27] Preeticp opened #455 "Thorntail option in getting started removed, update screenshots accordingly"

[2018-11-27 09:17] Preeticp opened #456 "Create a new Analytics API integration guide which uses the 3scale method"

[2018-11-27 14:15] Preeticp commented on #455
Fixed via #457

[2018-11-27 14:15] #455 closed

[2018-11-27 14:44] Preeticp opened #458 "Rebrand docs, UG, GSG, API cookbook, smaller action guides and landing page content"
Apart from the name change in all the guides, Screenshots that expose OSIO will need to be replaced too in all the guides.
Also check with @samuzzal-choudhury about references in code to OSIO, in the Analytics API guides.
|_ Checked, this work will be taken up at the end, analytics team needs to take a call on this, and will do so probably in the L train.

[2018-11-27 14:57] Preeticp opened #459 "Rebrand landing page, logo, favicon, header, footer..."
This would fix #365 #219 #160

[2018-11-27 15:00] Preeticp commented on #433
Fixed via #450, #451 #452, #453 and #454

[2018-11-27 15:00] #433 closed

[2018-11-29 14:52] #410 closed

[2018-11-29 15:32] Preeticp commented on #456
Fixed via #460

[2018-11-29 15:32] #456 closed

[2018-11-30 06:15] Preeticp opened #461 "Replace Project with Codebase in the import codebase flow, to keep it consistent with UI"
Check entire GS and UG for the same, we add/import a codebase to create applications. Projects is ok to use in the planning sections to refer to an entire devp project.

[2018-12-05 06:29] Preeticp opened #463 "Rebranding: replace screenshots"
Identifying screenshots that need to be replaced due to rebranding, where UI has been updated to reflect the change, replace them

[2018-12-05 06:38] Preeticp commented on #458
Closing this issue, raised new issue for screenshot changes #463

[2018-12-05 08:51] Preeticp commented on #406
We need to remove Using advanced Che features from GS and probably add it to the UG, currently it is already in the smaller user story.

[2018-12-06 03:56] Preeticp commented on #463
A quick review of all the screenshots revealed the following, while we have around 4-6 screenshots affected by rebranding, there are a few minor things which need to be changed, a number of them have author names (not a priority for now) and number of changes needed due to move from SDD to Agile. The last part will be done as part of Planner changes and they are all in the UG, also they might all

[2018-12-06 10:37] Preeticp opened #464 "Remove all references to SDD in the UG"
Post confirmation from Michael kleinhenz, we need to remove all references to SDD from the docs. CRT defaults to Agile now, there is no way a user can choose SDD.

[2018-12-10 06:52] Preeticp commented on #464
- [ ] 12.4>5,7 and 8> all screenshots are from SDD, remove or update or may need to remove it all once backlog disappears
- [ ] 12.5.1 and 12.5.2> States reflect SDD, WI in 12.5.2 is scenario change to Agile theme
- [ ] Remove note about development process.
- [ ] Also since user has no way to choose the SDD process, do we want to remove docs for SDD?
- [ ] 12.5.8, 12.5.9> screenshots need to be u

[2018-12-10 16:37] #365 closed

[2018-12-10 16:50] Preeticp commented on #463
The following screenshots are pending  due to a bug in the system, pipelines are not going through, pushing PR #465 through to push in brand change related docs. All the below are realted to names in screenshots and not re-branding.
- [ ] 7.4>1 Name
- [ ] 7.5>2 and 4 Name see if you can crop
- [ ] 7.7>2 Name
- [ ] 9.3>2 Name

[2018-12-13 09:34] Preeticp commented on #464
Fixed via #467

[2018-12-13 09:34] #464 closed

[2018-12-13 09:36] Preeticp commented on #463
Fixed via #465

[2018-12-13 09:36] #463 closed

[2018-12-13 09:38] Preeticp commented on #160
Closing this issue as it is now redundant due to re-branding.

[2018-12-13 09:38] #160 closed

[2018-12-13 09:40] Preeticp commented on #459
Landing page, text only logo Fixed via #466

[2018-12-13 09:40] #459 closed

[2018-12-13 09:43] #458 closed

[2018-12-13 09:50] Preeticp commented on #436
#464 pares down this section quite a bit.
The only work pending here is point 3: Modifying WI section need not have so many modules:

[2018-12-13 11:43] Preeticp commented on #219
redundant due to move to customer portal.

[2018-12-13 11:43] #219 closed

[2018-12-13 14:27] Preeticp opened #468 "Add content for the application widget in the dashboard and remove the content for deployment screen"
As discussed on the mail thread by Joshua, docs need to add content for the application widget in the dashboard and remove the content for deployment screen from both the guides.

[2018-12-14 11:28] #468 closed, assigned to Preeticp

[2018-12-14 12:10] Preeticp opened #470 "Add content for space dashboard similar to intro to home page"

[2018-12-14 12:13] Preeticp opened #471 "Adding space and app modal has changed"

[2018-12-14 12:45] Preeticp opened #472 "Add info about ability to pin spaces in Spaces page"

[2018-12-18 07:58] #461 closed

[2018-12-18 07:58] #471 closed

[2018-12-18 07:58] #472 closed

[2018-12-20 08:08] Preeticp commented on #406
Considering https://github.com/openshiftio/openshift.io/issues/4656, the 9th chapter in GS: Optimizing your memory usage could probably be moved to UG (Explore)

[2018-12-27 16:01] NoahMarconi opened #479 "Troubleshooting exposecontroller CrashLoopBackOff"
Can't find a solution anywhere to the minikube quickstart problem where `exposecontroller` gets stuck in a `CrashLoopBackOff`.

If there's a solution at all, can we document and add to the troubleshooting guide?

[2018-12-27 17:15] NoahMarconi commented on #479
closing, i found this https://groups.google.com/forum/#!topic/fabric8/GiFGb21lmGA

[2018-12-27 17:15] #479 closed

[2018-12-28 12:51] Preeticp opened #480 "Create shorter user story for team collaboration"
Create an assembly with collaboration and area topics. Once auth and other permissions come in we can add that too in this section.

[2019-01-04 08:20] Preeticp commented on #480
Fixed via: #484

[2019-01-04 08:20] #480 closed

[2019-01-04 08:21] Preeticp commented on #434
Fixed via: #482

[2019-01-04 08:21] #434 closed

[2019-01-04 08:38] Preeticp commented on #415
A new User story for Auth/Area and Collaborator section has been added via #484 and #483 This takes care of the 3rd and 4th bullet points above.

[2019-01-04 08:47] Preeticp commented on #295
Roles and permissions implemented in Collaboration have been documented via #483 and #482
However keeping this open as a place holder issue with links to past discussions. Planner side of permissions are likely to be implemented soon.

[2019-01-04 09:04] Preeticp commented on #236
@rkratky any inputs on this, as to what needs to be done here? Or do we close this issue for now?

[2019-01-04 10:53] Preeticp commented on #234
Just tried the springboot example, seems to work fine, pipelines yet to initiate.
@rkratky since it works now, do we put this back in GS? Does it make sense? I see that node js option has been added too. As such what is the value add to the user when we ask them to go through the same steps again for spring boot/node js?

Suggestion: How about having one example either vertx or spring boot or node

[2019-01-07 07:22] Preeticp commented on #234
Update, pipelines for all apps are currently stuck due to an error in jenkins.

[2019-01-08 13:19] rkratky commented on #234
Sounds good, thanks.

[2019-01-08 13:21] rkratky commented on #236
@Preeticp, I think this is still valid. Just needs to be postponed because we don't have the capacity to deal with it now.

[2019-01-08 13:30] Preeticp opened #485 "Document NodeJs support in create flow"
Screenshots will need to be updated.

[2019-01-08 13:49] Preeticp opened #486 "Document springboot create app flow in smaller user story"

[2019-01-08 13:50] Preeticp opened #487 "Document new import flow which supports node js and go in smaller use cases"

[2019-01-09 07:11] Preeticp commented on #436
Update content for smaller user story.

[2019-01-11 10:45] Preeticp commented on #436
Fixed all pending requirements via #488

[2019-01-11 10:45] #436 closed

[2019-01-11 10:49] Preeticp commented on #429
UI Changes on hold for now, marking as Deferred.

[2019-01-11 11:20] Preeticp commented on #386
All changes on Planner UI on hold

[2019-01-22 11:22] Preeticp commented on #486
Fixed the create flow via #489
To Do: Fix the springboot flow for Che, build and pipelines section

[2019-01-22 11:24] Preeticp commented on #485
Fixed the create flow for nodejs via #489
To Do: Fix the nodejs flow for Che, build and pipelines section

[2019-01-22 15:05] Preeticp commented on #485
TTD:

UG: Node Js

App name is different in different places will need to redo most images to get that consistent
7.3
step 1 , name preeticp
7.5 check if step 2 diag changes for node js
7.6 step 2 remove name
8.2 check if confirmation screenshot is required if not delete.
8.3 step 3 change screenshot, check for step 4 instructions and screenshot
8.4 Step 1 and step 3 update
8.5 remove last screens

[2019-01-23 04:31] Preeticp commented on #487
Shoubhik's mail on Dev-saas:
1. Importing a (simple) Golang project: ​https://www.youtube.com/watch?v=HZVpVJnkt1U
Demo of importing a simple Golang project in (prod-preview) openshift.io
​
2. Importing a Node.js project
https://www.youtube.com/watch?v=NhXCzjsTmHc
Demo of importing a node.js project in (prod-preview) openshift.io

Note: Repos do not have the necessary templates as of now, this is w

[2019-02-04 06:32] Preeticp commented on #486
Fixed via #490

[2019-02-04 07:19] Preeticp opened #492 "Major changes in UI in the Internal view, doc screenshots and flows need to be updated accordingly"